Repository apache/ozone, pull requests merged in 2020-08, with the labels that each got.

#1258 HDDS-4029. Recon unable to add a new container which is in CLOSED state.
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/container/ContainerStateManager.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/scm/ReconContainerManager.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/scm/ReconContainerReportHandler.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/scm/ReconIncrementalContainerReportHandler.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/scm/AbstractReconContainerManagerTest.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/scm/TestReconContainerManager.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/scm/TestReconIncrementalContainerReportHandler.java
Labels: 0.6.0

#1270 HDDS-4044. Deprecate ozone.s3g.volume.name.
  hadoop-hdds/docs/content/interface/S3.md
Labels: 0.6.0

#1299 HDDS-4076. Translate CSI.md into Chinese
  hadoop-hdds/docs/content/interface/CSI.zh.md
Labels: documentation

#1286 HDDS-4040. [OFS] BasicRootedOzoneFileSystem to support batchDelete
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestRootedOzoneFileSystem.java
  hadoop-ozone/ozonefs-common/src/main/java/org/apache/hadoop/fs/ozone/BasicOzoneClientAdapterImpl.java
  hadoop-ozone/ozonefs-common/src/main/java/org/apache/hadoop/fs/ozone/BasicOzoneFileSystem.java
  hadoop-ozone/ozonefs-common/src/main/java/org/apache/hadoop/fs/ozone/BasicRootedOzoneClientAdapterImpl.java
  hadoop-ozone/ozonefs-common/src/main/java/org/apache/hadoop/fs/ozone/BasicRootedOzoneFileSystem.java
  hadoop-ozone/ozonefs-common/src/main/java/org/apache/hadoop/fs/ozone/OzoneClientAdapterImpl.java
  hadoop-ozone/ozonefs-common/src/main/java/org/apache/hadoop/fs/ozone/RootedOzoneClientAdapterImpl.java
  hadoop-ozone/ozonefs-hadoop3/src/main/java/org/apache/hadoop/fs/ozone/OzoneFileSystem.java
  hadoop-ozone/ozonefs-hadoop3/src/main/java/org/apache/hadoop/fs/ozone/RootedOzoneFileSystem.java
  hadoop-ozone/ozonefs/src/main/java/org/apache/hadoop/fs/ozone/OzoneFileSystem.java
  hadoop-ozone/ozonefs/src/main/java/org/apache/hadoop/fs/ozone/RootedOzoneFileSystem.java
  pom.xml
Labels: 0.6.0, bug, client

#1283 HDDS-4057. Failed acceptance test missing from bundle
  hadoop-ozone/dist/src/main/compose/failing1/.env
  hadoop-ozone/dist/src/main/compose/failing1/docker-compose.yaml
  hadoop-ozone/dist/src/main/compose/failing1/docker-config
  hadoop-ozone/dist/src/main/compose/failing1/test.sh
  hadoop-ozone/dist/src/main/compose/failing2/.env
  hadoop-ozone/dist/src/main/compose/failing2/docker-compose.yaml
  hadoop-ozone/dist/src/main/compose/failing2/docker-config
  hadoop-ozone/dist/src/main/compose/failing2/test.sh
  hadoop-ozone/dist/src/main/compose/test-all.sh
  hadoop-ozone/dist/src/main/smoketest/failing/test1.robot
  hadoop-ozone/dist/src/main/smoketest/failing/test2.robot
Labels: bug

#1313 Revert HDDS-3989 & HDDS-3960 from 0.6.0.
  .gitignore
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/protocol/DatanodeDetails.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/HddsDatanodeService.java
  hadoop-hdds/interface-client/src/main/proto/hdds.proto
  hadoop-hdds/interface-client/src/main/proto/proto.lock
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/NodeEndpoint.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/types/DatanodeMetadata.java
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/db.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/autoReloadPanel/autoReloadPanel.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/multiSelect/multiSelect.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/datanodes/datanodes.less
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/datanodes/datanodes.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/pipelines/pipelines.tsx
Labels: 0.6.0

#1317 HDDS-4108. ozone debug ldb scan without arguments results in core dump
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/debug/DBScanner.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/debug/RDBParser.java
Labels: bug

#1318 HDDS-4099. No Log4j 2 configuration file found error appears in CLI
  hadoop-ozone/tools/pom.xml
Labels: bug

#1347 HDDS-4139. Update version number in upgrade tests
  hadoop-ozone/dist/src/main/compose/upgrade/README.md
  hadoop-ozone/dist/src/main/compose/upgrade/test.sh
  hadoop-ozone/dist/src/main/compose/upgrade/versions/README.md
  hadoop-ozone/dist/src/main/compose/upgrade/versions/ozone-1.0.0.sh
  hadoop-ozone/dist/src/shell/upgrade/1.0.0.sh
  hadoop-ozone/dist/src/shell/upgrade/1.0.0/01-migrate-scm-db.sh
Labels: 0.6.0
