Repository apache/ozone, pull requests merged in 2020-09, with the labels that each got.

#1362 HDDS-4161. Set fs.defaultFS in docker compose cluster config to OFS
  hadoop-ozone/dist/src/main/compose/ozone-csi/docker-config
  hadoop-ozone/dist/src/main/compose/ozone-ha/docker-config
  hadoop-ozone/dist/src/main/compose/ozone-mr/common-config
  hadoop-ozone/dist/src/main/compose/ozone-om-ha-s3/docker-config
  hadoop-ozone/dist/src/main/compose/ozone-om-ha/docker-config
  hadoop-ozone/dist/src/main/compose/ozone-topology/docker-config
  hadoop-ozone/dist/src/main/compose/ozone/docker-config
  hadoop-ozone/dist/src/main/compose/ozoneblockade/docker-config
  hadoop-ozone/dist/src/main/compose/ozones3-haproxy/docker-config
  hadoop-ozone/dist/src/main/compose/ozonesecure-mr/docker-config
  hadoop-ozone/dist/src/main/compose/ozonesecure-om-ha/docker-config
  hadoop-ozone/dist/src/main/compose/ozonesecure/docker-config
Labels: test

#1397 HDDS-4211. [OFS] Better owner and group display for listing Ozone volumes and buckets
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestRootedOzoneFileSystem.java
  hadoop-ozone/ozonefs-common/src/main/java/org/apache/hadoop/fs/ozone/BasicRootedOzoneClientAdapterImpl.java
Labels: enhancement, ofs

#1175 HDDS-2766. security/SecuringDataNodes.md
  hadoop-hdds/docs/content/security/SecuringDatanodes.md
  hadoop-hdds/docs/content/security/SecuringDatanodes.zh.md
Labels: documentation
