Repository apache/ozone, pull requests merged in 2020-01, with the labels that each got.

#412 HDDS-2835. update ozone to latest ratis.
  pom.xml
Labels: ozone

#420 HDDS-2854. Add a config for the write chunk executor queue limit.
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/transport/server/ratis/XceiverServerRatis.java
Labels: ozone

#427 HDDS-2866. Intermittent failure in TestOzoneManagerRocksDBLogging
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOzoneManagerRocksDBLogging.java
Labels: test

#475 HDDS-2743. shell/VolumeCommands.md translation
  hadoop-hdds/docs/content/shell/VolumeCommands.zh.md
Labels: documentation

#483 HDDS-2937. Document bucket encryption option in shell/BucketCommands.md.
  hadoop-hdds/docs/content/shell/BucketCommands.md
Labels: documentation

#476 HDDS-2744. shell/BucketCommands.md translation
  hadoop-hdds/docs/content/shell/BucketCommands.zh.md
Labels: documentation

#477 HDDS-2745. shell/KeyCommands.md translation
  hadoop-hdds/docs/content/shell/KeyCommands.md
  hadoop-hdds/docs/content/shell/KeyCommands.zh.md
Labels: documentation
