Repository apache/ozone, pull requests merged in 2020-04, with the labels that each got.

#520 HDDS-2793. concept/Datanodes.md translation
  hadoop-hdds/docs/content/concept/Datanodes.md
  hadoop-hdds/docs/content/concept/Datanodes.zh.md
Labels: documentation

#756 HDDS-3331. Simplify s3bucket -> ozone volume/bucket mapping
  hadoop-hdds/docs/content/design/ozone-volume-management.md
Labels: design

#684 HDDS-3134. Debug Tool that gives chunk location information given a key.
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/keyvalue/KeyValueContainerData.java
  hadoop-hdds/tools/src/main/java/org/apache/hadoop/hdds/scm/cli/ContainerOperationClient.java
  hadoop-ozone/dist/src/main/smoketest/basic/ozone-shell.robot
  hadoop-ozone/dist/src/shell/ozone/ozone
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/debug/ChunkDataNodeDetails.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/debug/ChunkDetails.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/debug/ChunkKeyHandler.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/debug/ContainerChunkInfo.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/debug/OzoneDebug.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/debug/package-info.java
Labels: ozone
