Repository apache/ozone, pull requests merged in 2020-11, with the labels that each got.

#1575 HDDS-4083. Create ZH translation of Recon.md in doc
  hadoop-hdds/docs/content/feature/Recon.zh.md
Labels: documentation

#1539 HDDS-4079. Create ZH translation of Containers.md in doc.
  hadoop-hdds/docs/content/concept/Containers.zh.md
Labels: documentation

#1541 HDDS-4080. Create ZH translation of OzoneManager.md in doc.
  hadoop-hdds/docs/content/concept/OzoneManager.zh.md
Labels: documentation

#1558 HDDS-4081. Create ZH translation of StorageContainerManager.md in doc.
  hadoop-hdds/docs/content/concept/StorageContainerManager.zh.md
Labels: documentation

#1567 HDDS-4442. Make all Log4J2 loggers asynchronous
  hadoop-hdds/common/src/test/java/org/apache/hadoop/ozone/audit/TestOzoneAuditLogger.java
  hadoop-hdds/common/src/test/resources/auditlog.properties
  hadoop-ozone/dist/src/shell/ozone/ozone
Labels: performance

#1591 HDDS-4082. Create ZH translation of HA.md in doc.
  hadoop-hdds/docs/content/feature/HA.md
  hadoop-hdds/docs/content/feature/HA.zh.md
Labels: documentation

#1572 HDDS-4450. Cannot run ozone if HADOOP_HOME points to Hadoop install
  hadoop-ozone/dist/src/shell/ozone/ozone
  hadoop-ozone/dist/src/shell/ozone/stop-ozone.sh
Labels: bug

#1569 HDDS-4448. Duplicate refreshPipeline in listStatus
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/KeyManagerImpl.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/TestKeyManagerUnit.java
Labels: om

#1581 HDDS-4417. Simplify Ozone client code with configuration object -- addendum
  hadoop-hdds/client/src/main/java/org/apache/hadoop/hdds/scm/OzoneClientConfig.java
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/io/BlockOutputStreamEntry.java
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/rpc/RpcClient.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestBlockOutputStream.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestBlockOutputStreamWithFailures.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestOzoneClientRetriesOnException.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestOzoneRpcClient.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestOzoneRpcClientWithRatis.java
Labels: bug

#1588 HDDS-4461. Reuse compiled binaries in acceptance test
  .github/workflows/post-commit.yml
Labels: build, enhancement
