Repository apache/ozone, pull requests merged in 2020-12, with the labels that each got.

#1479 HDDS-4313. Create thread-local instance of FileSystem in HadoopFsGenerator
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/freon/BaseFreonGenerator.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/freon/HadoopFsGenerator.java
Labels: enhancement, test

#1601 HDDS-4404. Datanode can go OOM when a Recon or SCM Server is very slow in processing reports
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/statemachine/StateContext.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/states/endpoint/HeartbeatEndpointTask.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/common/statemachine/TestStateContext.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/common/statemachine/commandhandler/TestCreatePipelineCommandHandler.java
  hadoop-hdds/container-service/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: datanode

#1708 HDDS-4586. Mismatch in prefix of DN and SCM http.auth.type config key
  hadoop-hdds/docs/content/security/SecuringOzoneHTTP.md
Labels: documentation

#1695 [Docs] HDDS-4207. Include version information in docs
  hadoop-hdds/docs/config.yaml
  hadoop-hdds/docs/dev-support/bin/generate-site.sh
  hadoop-hdds/docs/themes/ozonedoc/layouts/_default/baseof.html
  hadoop-hdds/docs/themes/ozonedoc/layouts/_default/section.html
  hadoop-hdds/docs/themes/ozonedoc/layouts/_default/single.html
  hadoop-hdds/docs/themes/ozonedoc/layouts/index.html
  hadoop-hdds/docs/themes/ozonedoc/layouts/partials/footer.html
  hadoop-hdds/docs/themes/ozonedoc/static/css/ozonedoc.css
Labels: documentation
