Repository apache/ozone, pull requests merged in 2021-08, with the labels that each got.

#2487 HDDS-5530. Support links to encrypted buckets.
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestOzoneAtRestEncryption.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/key/OMKeyRequest.java
Labels: om, security

#2496 HDDS-5532. Missing integration test cleanup
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/contract/ITestOzoneContractDistCp.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/contract/rooted/ITestRootedOzoneContractDistCp.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/server/TestSecureContainerServer.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/scm/TestCloseContainer.java
Labels: bug, test

#2486 HDDS-5527. Move tests back to root partition
  .github/workflows/post-commit.yml
Labels: test

#2479 HDDS-5000. Run CI checks selectively
  .github/workflows/post-commit.yml
  dev-support/ci/lib/_all_libs.sh
  dev-support/ci/lib/_initialization.sh
  dev-support/ci/lib/_script_init.sh
  dev-support/ci/lib/_start_end.sh
  dev-support/ci/lib/_traps.sh
  dev-support/ci/lib/_verbosity.sh
  dev-support/ci/selective_ci_checks.bats
  dev-support/ci/selective_ci_checks.sh
Labels: enhancement, build

#2482 HDDS-5458. Extend s3 compatibility script, and fix the related errors
  hadoop-ozone/dist/src/main/smoketest/s3/boto3.robot
  hadoop-ozone/dist/src/main/smoketest/s3/boto_client.py
  hadoop-ozone/dist/src/main/smoketest/s3/bucketcreate.robot
  hadoop-ozone/dist/src/main/smoketest/s3/bucketdelete.robot
  hadoop-ozone/dist/src/main/smoketest/s3/buckethead.robot
  hadoop-ozone/dist/src/main/smoketest/s3/commonawslib.robot
  hadoop-ozone/dist/src/main/smoketest/s3/s3_compatbility_check.sh
Labels: test, compatibility
