Repository apache/ozone, pull requests merged in 2021-05, with the labels that each got.

#2218 HDDS-5186. If primordial SCM id is set, a non-HA cluster can not be initialized.
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/scm/ha/SCMHAUtils.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/StorageContainerManager.java
Labels: scm-ha

#2213 HDDS-5183. For AccessControlException do not perform failover.
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/scm/ha/SCMHAUtils.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/scm/proxy/SCMContainerLocationFailoverProxyProvider.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/scm/proxy/SCMSecurityProtocolFailoverProxyProvider.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/HAUtils.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/StorageContainerManager.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/MiniOzoneClusterImpl.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/TestSecureOzoneCluster.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/scm/TestFailoverWithSCMHA.java
Labels: scm-ha

#2224 HDDS-5173. Divide snapshot related work into notifyInstallSnapshotFromLeader and reinitialize for SCMStateMachine.
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/ha/InterSCMGrpcClient.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/ha/MockSCMHAManager.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/ha/SCMHAManager.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/ha/SCMHAManagerImpl.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/ha/SCMSnapshotDownloader.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/ha/SCMSnapshotProvider.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/ha/SCMStateMachine.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/TestSCMInstallSnapshot.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/scm/TestSCMInstallSnapshotWithHA.java
Labels: scm-ha

#2227 HDDS-5200. Fix scm roles command if one of the host is unresolvable.
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/ha/SCMRatisServerImpl.java
Labels: scm-ha

#2229 HDDS-5202. Use scm#checkLeader before processing client requests .
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/protocol/ScmBlockLocationProtocolServerSideTranslatorPB.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/protocol/StorageContainerLocationProtocolServerSideTranslatorPB.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/StorageContainerManager.java
Labels: scm-ha

#2236 HDDS-5205. Make admin check work for SCM HA cluster
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/SCMClientProtocolServer.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/StorageContainerManager.java
  hadoop-ozone/dist/src/main/compose/ozonesecure-ha/test.sh
  hadoop-ozone/dist/src/main/smoketest/admincli/container.robot
  hadoop-ozone/dist/src/main/smoketest/admincli/datanode.robot
  hadoop-ozone/dist/src/main/smoketest/admincli/pipeline.robot
  hadoop-ozone/dist/src/main/smoketest/admincli/replicationmanager.robot
  hadoop-ozone/dist/src/main/smoketest/admincli/safemode.robot
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/TestStorageContainerManager.java
Labels: scm-ha

#2247 HDDS-5216. Fix race condition causing SCM failOverProxy which is causing failover wrongly.
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/scm/proxy/SCMBlockLocationFailoverProxyProvider.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/scm/proxy/SCMContainerLocationFailoverProxyProvider.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/scm/proxy/SCMSecurityProtocolFailoverProxyProvider.java
Labels: scm-ha

#2266 HDDS-5246. Wait for ever to obtain CA list which is needed during OM/DN startup
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/scm/ScmConfigKeys.java
  hadoop-hdds/common/src/main/resources/ozone-default.xml
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/HAUtils.java
Labels: scm-ha

#2249 HDDS-5233. SCM subsequent init failed when previous scm init failed.
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/ha/SCMRatisServerImpl.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/ha/SCMStateMachine.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/StorageContainerManager.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/TestStorageContainerManager.java
Labels: scm-ha

#2273 HDDS-5257. Avoid SCM call to get CA certs in non-HA from OM.
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/HAUtils.java
Labels: scm-ha

#2272 HDDS-5256. Fix fall back of config in SCM HA Cluster
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/HddsServerUtil.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/ScmUtils.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/ha/SCMHANodeDetails.java
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/hdds/scm/ha/TestSCMHAConfiguration.java
Labels: scm-ha

#2269 HDDS-5250. Build integration tests with Maven cache
  .github/buildenv/Dockerfile
  .github/buildenv/entrypoint.sh
  .github/workflows/post-commit.yml
Labels: build

#2205 HDDS-5158. Add documentation for SCM HA Security.
  hadoop-hdds/docs/content/feature/SCM-HA.md
  hadoop-hdds/docs/content/feature/scm-secure-ha.png
Labels: scm-ha

#2058 HDDS-4993. Add guardrail for reserved buffer size when DN reads a chunk
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/keyvalue/helpers/ChunkUtils.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/keyvalue/impl/ChunkManagerDummyImpl.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/keyvalue/impl/FilePerBlockStrategy.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/keyvalue/impl/FilePerChunkStrategy.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/keyvalue/impl/CommonChunkManagerTestCases.java
Labels: datanode
