Repository apache/ozone, pull requests merged in 2022-03, with the labels that each got.

#3045 HDDS-6268. Include audit log in acceptance test bundle
  hadoop-ozone/dev-support/checks/acceptance.sh
  hadoop-ozone/dist/src/main/compose/testlib.sh
Labels: enhancement, test

#3103 HDDS-6321. Avoid refresh pipeline for key lookup in checkAcls
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestKeyManagerImpl.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/KeyManagerImpl.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OzonePrefixPathImpl.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/TrashOzoneFileSystem.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/protocolPB/OzoneManagerRequestHandler.java
Labels: om, performance

#3154 HDDS-6360. Create stack dump on acceptance test failure
  hadoop-ozone/dist/pom.xml
  hadoop-ozone/dist/src/main/compose/testlib.sh
Labels: enhancement, test

#3121 HDDS-6357. RenameKey request has memory leak
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/db/cache/EpochEntry.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/db/cache/FullTableCache.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/db/cache/PartialTableCache.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/db/cache/TableCache.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/utils/db/cache/TestTableCache.java
Labels: bug, om

#3073 HDDS-6299. Remove Log4J2 from Ozone FS shaded jars
  hadoop-hdds/common/pom.xml
  hadoop-hdds/framework/pom.xml
  hadoop-ozone/ozonefs-shaded/pom.xml
  pom.xml
Labels: enhancement, build

#3173 HDDS-6418. Datanode usage info uses wrong version number
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/scm/protocol/StorageContainerLocationProtocol.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/scm/protocolPB/StorageContainerLocationProtocolClientSideTranslatorPB.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/node/DatanodeUsageInfo.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/protocol/StorageContainerLocationProtocolServerSideTranslatorPB.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/SCMClientProtocolServer.java
  hadoop-hdds/tools/src/main/java/org/apache/hadoop/hdds/scm/cli/ContainerOperationClient.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/TestContainerOperations.java
Labels: scm, compatibility

#3148 HDDS-6095. Skip slow integration tests, allow repeating known flaky tests 5x in CI
  .github/workflows/post-commit.yml
  hadoop-hdds/test-utils/pom.xml
  hadoop-hdds/test-utils/src/main/java/org/apache/ozone/test/tag/Flaky.java
  hadoop-hdds/test-utils/src/main/java/org/apache/ozone/test/tag/Slow.java
  hadoop-hdds/test-utils/src/main/java/org/apache/ozone/test/tag/package-info.java
  hadoop-ozone/csi/pom.xml
  hadoop-ozone/datanode/pom.xml
  hadoop-ozone/dev-support/checks/_mvn_unit_report.sh
  hadoop-ozone/dev-support/checks/integration.sh
  hadoop-ozone/fault-injection-test/mini-chaos-tests/pom.xml
  hadoop-ozone/integration-test/pom.xml
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestDirectoryDeletingServiceWithFSO.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/TestRatisPipelineLeader.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/TestSCMInstallSnapshot.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/container/TestContainerStateManagerIntegration.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/pipeline/TestLeaderChoosePolicy.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/pipeline/TestPipelineClose.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/pipeline/TestRatisPipelineCreateAndDestroy.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/upgrade/TestHDDSUpgrade.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/MiniOzoneHAClusterImpl.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/TestMiniOzoneCluster.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestBlockOutputStreamWithFailures.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestBlockOutputStreamWithFailuresFlushDelay.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestContainerStateMachineFailureOnRead.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestContainerStateMachineFailures.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestFailureHandlingByClient.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestOzoneRpcClient.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestOzoneRpcClientAbstract.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestOzoneRpcClientWithRatis.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestSecureOzoneRpcClient.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestWatchForCommit.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/common/statemachine/commandhandler/TestBlockDeletion.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/common/statemachine/commandhandler/TestCloseContainerByPipeline.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/ozoneimpl/TestOzoneContainer.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/server/TestContainerServer.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/freon/TestRandomKeyGenerator.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestAddRemoveOzoneManager.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOzoneManagerHA.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOzoneManagerHAKeyDeletion.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOzoneManagerHAMetadataOnly.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOzoneManagerHAWithACL.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOzoneManagerHAWithData.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOzoneManagerHAWithFailover.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOzoneManagerPrepare.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestScmSafeMode.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/scm/TestSCMContainerPlacementPolicyMetrics.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/scm/TestSCMInstallSnapshotWithHA.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/scm/node/TestDecommissionAndMaintenance.java
  hadoop-ozone/interface-client/pom.xml
  hadoop-ozone/ozonefs-hadoop2/pom.xml
  hadoop-ozone/ozonefs-hadoop3/pom.xml
  hadoop-ozone/ozonefs-shaded/pom.xml
  hadoop-ozone/recon-codegen/pom.xml
  pom.xml
Labels: enhancement, test, build

#2916 HDDS-6079. Replace Freon RK with OCKG/OCKV in acceptance tests
  hadoop-ozone/dist/src/main/compose/ozone-topology/test.sh
  hadoop-ozone/dist/src/main/compose/ozone/test.sh
  hadoop-ozone/dist/src/main/smoketest/auditparser/auditparser.robot
  hadoop-ozone/dist/src/main/smoketest/basic/basic.robot
  hadoop-ozone/dist/src/main/smoketest/freon/generate.robot
  hadoop-ozone/dist/src/main/smoketest/freon/remove.robot
  hadoop-ozone/dist/src/main/smoketest/freon/validate.robot
  hadoop-ozone/dist/src/main/smoketest/omha/om-prepare.robot
  hadoop-ozone/dist/src/main/smoketest/ozone-lib/freon.robot
  hadoop-ozone/dist/src/main/smoketest/recon/recon-api.robot
  hadoop-ozone/dist/src/main/smoketest/spnego/web.robot
Labels: enhancement, test

#3208 HDDS-6464. Turn off cross-check fail-fast for CI
  .github/workflows/cancel-ci.yaml
  .github/workflows/post-commit.yml
Labels: enhancement, build

#3223 HDDS-6488. Intermittent failure in ozone debug read-replicas with one datanode STALE
  hadoop-ozone/dist/src/main/compose/testlib.sh
  hadoop-ozone/dist/src/main/smoketest/debug/ozone-debug-corrupt-block.robot
  hadoop-ozone/dist/src/main/smoketest/debug/ozone-debug-stale-datanode.robot
Labels: bug, test

#3216 HDDS-6472. Errors in TestOzoneContainer integration test
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/ozoneimpl/TestOzoneContainer.java
Labels: bug, test

#3231 HDDS-6429. getContainerReplicas should respect client version
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/scm/protocol/StorageContainerLocationProtocol.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/scm/protocolPB/StorageContainerLocationProtocolClientSideTranslatorPB.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/protocol/StorageContainerLocationProtocolServerSideTranslatorPB.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/SCMClientProtocolServer.java
  hadoop-hdds/tools/src/main/java/org/apache/hadoop/hdds/scm/cli/ContainerOperationClient.java
Labels: compatibility

#3234 HDDS-6505. TestContainerStateManagerIntegration consistently fails
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/container/TestContainerStateManagerIntegration.java
Labels: bug, test
