Repository apache/ozone, pull requests merged in 2022-02, with the labels that each got.

#3028 HDDS-2919. Remove intermittent TestRDBStore#testRocksDBKeyMayExistApi
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/utils/db/TestRDBStore.java
Labels: test

#2974 HDDS-6169. Selective checks: skip junit tests on ozone-runner image update
  dev-support/ci/selective_ci_checks.bats
  dev-support/ci/selective_ci_checks.sh
Labels: enhancement, build

#3019 HDDS-6226. Run tests for selective CI checks in CI
  .github/workflows/post-commit.yml
  hadoop-ozone/dev-support/checks/bats.sh
Labels: test, build

#3063 HDDS-6289. Upgrade acceptance test log flooded with parse error
  hadoop-ozone/dist/src/main/compose/upgrade/compose/ha/docker-config
Labels: test

#3064 HDDS-6291. Do not let slf4j-log4j12 leak into Ozone FS shaded jar
  hadoop-ozone/client/pom.xml
  hadoop-ozone/dist/src/main/smoketest/mapreduce.robot
  hadoop-ozone/dist/src/main/smoketest/ozonefs/hadoopo3fs.robot
  hadoop-ozone/ozonefs-shaded/pom.xml
Labels: build

#3057 HDDS-6285. ozonesecure-mr intermittently failing with timeout downloading packages
  hadoop-ozone/dist/src/main/compose/ozonesecure-mr/test.sh
Labels: test

#3061 HDDS-6186. Selective checks: skip integration check for unit test changes
  dev-support/ci/selective_ci_checks.bats
  dev-support/ci/selective_ci_checks.sh
Labels: enhancement, test

#3044 HDDS-6262. ozone insight log stops working after OM DBUpdates message
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/protocolPB/OMPBHelper.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/protocolPB/OzoneManagerProtocolServerSideTranslatorPB.java
Labels: bug

#3017 HDDS-6221. Update versions covered by cross-compatibility test
  hadoop-ozone/dist/src/main/compose/xcompat/clients.yaml
  hadoop-ozone/dist/src/main/compose/xcompat/test.sh
Labels: test, compatibility

#3116 HDDS-6349. IncompleteReadError on get MPU key from TDE bucket
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/io/MultipartCryptoKeyInputStream.java
  hadoop-ozone/dist/src/main/compose/ozonesecure/docker-config
  hadoop-ozone/dist/src/main/compose/ozonesecure/test.sh
  hadoop-ozone/dist/src/main/smoketest/s3/MultipartUpload.robot
  hadoop-ozone/dist/src/main/smoketest/s3/commonawslib.robot
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestOzoneAtRestEncryption.java
Labels: bug, s3

#3110 HDDS-6334. Remove ContainerID to Proto to ContainerID conversion in ContainerStateManagerImpl
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/container/ContainerManagerImpl.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/container/ContainerStateManager.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/container/ContainerStateManagerImpl.java
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/hdds/scm/container/TestContainerReportHandler.java
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/hdds/scm/container/TestContainerStateManager.java
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/hdds/scm/container/TestIncrementalContainerReportHandler.java
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/hdds/scm/container/TestReplicationManager.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/container/TestContainerStateManagerIntegration.java
Labels: enhancement, scm

#3135 HDDS-6374. Fix incorrect queueTime metrics of ReplicationTask
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/replication/MeasuredReplicator.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/replication/TestMeasuredReplicator.java
Labels: bug, datanode
