Repository apache/ozone, pull requests merged in 2022-08, with the labels that each got.

#2582 HDDS-5564. feature/PrefixFSO.md translation
  hadoop-hdds/docs/content/feature/PrefixFSO.zh.md
Labels: documentation

#3659 HDDS-7085. Update gRPC to 1.48.1 to address OOM bug
  pom.xml
Labels: dependencies

#3636 HDDS-7033. Include committed space in log for disk out of space
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/volume/AvailableSpaceFilter.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/volume/CapacityVolumeChoosingPolicy.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/volume/RoundRobinVolumeChoosingPolicy.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/volume/VolumeChoosingUtil.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/common/volume/TestCapacityVolumeChoosingPolicy.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/common/volume/TestRoundRobinVolumeChoosingPolicy.java
Labels: enhancement, datanode

#3680 HDDS-7113. Support overriding response header values
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/endpoint/ObjectEndpoint.java
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/s3/endpoint/TestObjectGet.java
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/s3/metrics/TestS3GatewayMetrics.java
Labels: s3

#3698 HDDS-7139. INVALID_TOKEN is handled as internal error in S3G
  hadoop-ozone/dist/src/main/smoketest/s3/objectputget.robot
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/endpoint/BucketEndpoint.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/endpoint/EndpointBase.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/endpoint/ObjectEndpoint.java
Labels: s3

#3629 HDDS-5779. Create s3g bucket creation performance test
  hadoop-ozone/dist/src/main/smoketest/s3/freon.robot
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/freon/Freon.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/freon/S3BucketGenerator.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/freon/S3EntityGenerator.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/freon/S3KeyGenerator.java
Labels: s3

#3717 HDDS-7172. Intermittent failure in Close pipeline smoketest
  hadoop-ozone/dist/src/main/smoketest/admincli/pipeline.robot
Labels: test

#3714 HDDS-7165. Remove AbstractContractUnbufferTest
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/contract/AbstractContractUnbufferTest.java
Labels: test

#3326 HDDS-6621. Include annotation processor module in regular project hierarchy
  dev-support/annotations/pom.xml
  dev-support/annotations/src/main/resources/META-INF/services/javax.annotation.processing.Processor
  hadoop-hdds/annotations/pom.xml
  hadoop-hdds/annotations/src/main/java/org/apache/ozone/annotations/ReplicateAnnotationProcessor.java
  hadoop-hdds/annotations/src/main/java/org/apache/ozone/annotations/RequestFeatureValidatorProcessor.java
  hadoop-hdds/annotations/src/main/java/org/apache/ozone/annotations/package-info.java
  hadoop-hdds/common/pom.xml
  hadoop-hdds/common/src/main/resources/META-INF/services/javax.annotation.processing.Processor
  hadoop-hdds/pom.xml
  hadoop-ozone/dev-support/checks/rat.sh
  hadoop-ozone/dist/src/main/license/jar-report.txt
  pom.xml
Labels: enhancement, build
