Repository apache/ozone, pull requests merged in 2022-05, with the labels that each got.

#3375 HDDS-6684. Move unit tests out of integration
  hadoop-hdds/client/src/test/java/org/apache/hadoop/ozone/client/io/ECStreamTestUtil.java
  hadoop-hdds/client/src/test/java/org/apache/hadoop/ozone/client/io/TestBlockInputStreamFactoryImpl.java
  hadoop-hdds/client/src/test/java/org/apache/hadoop/ozone/client/io/TestECBlockInputStream.java
  hadoop-hdds/client/src/test/java/org/apache/hadoop/ozone/client/io/TestECBlockInputStreamProxy.java
  hadoop-hdds/client/src/test/java/org/apache/hadoop/ozone/client/io/TestECBlockReconstructedInputStream.java
  hadoop-hdds/client/src/test/java/org/apache/hadoop/ozone/client/io/TestECBlockReconstructedStripeInputStream.java
  hadoop-ozone/client/pom.xml
  hadoop-ozone/client/src/test/java/org/apache/hadoop/ozone/client/io/TestKeyInputStreamEC.java
  hadoop-ozone/pom.xml
Labels: test

#3362 Revert "HDDS-5740. Enable ratis by default for SCM."
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/scm/ScmConfigKeys.java
  hadoop-hdds/common/src/main/resources/ozone-default.xml
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/hdds/scm/node/TestSCMNodeManager.java
  hadoop-ozone/dist/src/main/compose/ozonesecure/docker-config
  hadoop-ozone/dist/src/main/compose/upgrade/compose/ha/docker-config
  hadoop-ozone/dist/src/main/compose/upgrade/compose/non-ha/docker-config
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestOzoneFileSystem.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/container/metrics/TestSCMContainerManagerMetrics.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/pipeline/TestMultiRaftSetup.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/upgrade/TestHDDSUpgrade.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/TestSecureOzoneCluster.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/TestStorageContainerManager.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestBCSID.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestContainerStateMachine.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestContainerStateMachineFailures.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestContainerStateMachineFlushDelay.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/common/statemachine/commandhandler/TestBlockDeletion.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/dn/ratis/TestDnRatisLogParser.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/recon/TestReconWithOzoneManagerHA.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/scm/node/TestDecommissionAndMaintenance.java
Labels: bug, upgrade, compatibility

#3368 HDDS-6673. Reduce OzoneFS test combinations in ozonesecure
  hadoop-ozone/dist/src/main/compose/ozone/test.sh
  hadoop-ozone/dist/src/main/compose/ozonesecure/test.sh
Labels: test

#3367 HDDS-6669. Exercise OM in ozonescripts environment
  hadoop-ozone/dist/src/main/compose/ozonescripts/test.sh
  hadoop-ozone/dist/src/main/smoketest/basic/single_node.robot
Labels: enhancement, test

#3387 HDDS-6703. Disable failing testPrepareDownedOM until Ratis upgrade
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOzoneManagerPrepare.java
Labels: bug, om

#3370 HDDS-6675. Avoid repeating some S3 tests for different bucket types
  hadoop-ozone/dist/src/main/compose/ozone/test.sh
  hadoop-ozone/dist/src/main/compose/ozonesecure/test.sh
  hadoop-ozone/dist/src/main/smoketest/s3/bucketcreate.robot
  hadoop-ozone/dist/src/main/smoketest/s3/bucketdelete.robot
  hadoop-ozone/dist/src/main/smoketest/s3/buckethead.robot
  hadoop-ozone/dist/src/main/smoketest/s3/webui.robot
Labels: test

#3236 HDDS-6507. Spotbugs transitive dependencies may result in NoClassDefFound error
  dev-support/annotations/pom.xml
  hadoop-hdds/container-service/pom.xml
  hadoop-hdds/server-scm/pom.xml
  hadoop-ozone/insight/pom.xml
  hadoop-ozone/ozone-manager/pom.xml
  hadoop-ozone/ozonefs-common/pom.xml
  hadoop-ozone/recon/pom.xml
  hadoop-ozone/s3gateway/pom.xml
  hadoop-ozone/tools/pom.xml
  pom.xml
Labels: bug, build

#3373 HDDS-6679. Further splits integration tests
  .github/workflows/post-commit.yml
  pom.xml
Labels: enhancement, test, build

#3406 HDDS-6734. ozone admin pipeline list CLI is not backward compatible
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/client/ReplicationFactor.java
  hadoop-hdds/tools/src/main/java/org/apache/hadoop/hdds/scm/cli/pipeline/ListPipelinesSubcommand.java
  hadoop-hdds/tools/src/test/java/org/apache/hadoop/hdds/scm/cli/pipeline/TestListPipelinesSubCommand.java
Labels: compatibility

#3412 HDDS-6731. Migrate simple tests in hdds-server-framework to JUnit5
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/scm/exceptions/TestSCMExceptionResultCodes.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/security/token/TestOzoneBlockTokenIdentifier.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/security/token/TokenVerifierTests.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/security/x509/certificate/client/TestDefaultCertificateClient.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/security/x509/keys/TestHDDSKeyGenerator.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/server/TestJsonUtils.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/server/events/TestEventQueue.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/server/events/TestEventQueueChain.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/server/events/TestEventWatcher.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/server/http/TestBaseHttpServer.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/server/http/TestHtmlQuoting.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/server/http/TestHttpRequestLog.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/server/http/TestHttpRequestLogAppender.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/server/http/TestHttpServer2.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/server/http/TestProfileServlet.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/server/http/TestPrometheusMetricsSink.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/server/http/TestRatisDropwizardExports.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/utils/db/TestRDBStoreIterator.java
Labels: enhancement, test

#3416 HDDS-6748. Intermittent timeout in TestECBlockReconstructedInputStream#testReadDataWithUnbuffer
  hadoop-hdds/client/src/test/java/org/apache/hadoop/ozone/client/io/TestECBlockReconstructedInputStream.java
Labels: bug, test

#3413 HDDS-6749. SCM includes itself as peer in addSCM request
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/scm/ha/SCMHAUtils.java
  hadoop-hdds/common/src/test/java/org/apache/hadoop/hdds/scm/TestSCMHAUtils.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/scm/proxy/SCMBlockLocationFailoverProxyProvider.java
Labels: bug, scm

#3433 HDDS-6097. Upgrade to Ratis 2.3.0, gRPC 1.44.0, Netty 4.1.74
  hadoop-ozone/csi/pom.xml
  hadoop-ozone/dist/src/main/license/bin/LICENSE.txt
  hadoop-ozone/dist/src/main/license/jar-report.txt
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOzoneManagerPrepare.java
  pom.xml
Labels: dependencies

#3437 HDDS-6777. Upgrade to JUnit 5.8.2
  pom.xml
Labels: test, dependencies

#3436 HDDS-6779. Register metricSink after initialization
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/Gateway.java
Labels: bug, s3

#3435 HDDS-6778. Bump Guava to 31.1
  pom.xml
Labels: dependencies

#3443 HDDS-6786. Bad value for metric NumBytesCommittedCount in testContainerStateMachineMetrics
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/transport/server/ratis/ContainerStateMachine.java
Labels: test, datanode

#3369 HDDS-6674. Create compat acceptance split
  .github/workflows/post-commit.yml
  hadoop-ozone/dist/src/main/compose/compatibility/test.sh
  hadoop-ozone/dist/src/main/compose/upgrade/test.sh
  hadoop-ozone/dist/src/main/compose/xcompat/test.sh
Labels: test, build

#3396 HDDS-6719. Verify build from source release tarball in CI
  .github/workflows/post-commit.yml
  dev-support/ci/selective_ci_checks.bats
  dev-support/ci/selective_ci_checks.sh
Labels: build

#3447 HDDS-6789. Omit download progress in builds
  hadoop-ozone/dev-support/checks/build.sh
  hadoop-ozone/dev-support/checks/checkstyle.sh
  hadoop-ozone/dev-support/checks/findbugs.sh
  hadoop-ozone/dev-support/checks/junit.sh
  hadoop-ozone/dev-support/checks/rat.sh
Labels: build, full tests needed
