Repository apache/ozone, pull requests merged in 2023-09, with the labels that each got.

#5175 HDDS-9159. [Snapshot] Implement snapshot disk usage: Referenced size
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/OzoneSnapshot.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/QuotaUtil.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/SnapshotInfo.java
  hadoop-ozone/common/src/test/java/org/apache/hadoop/ozone/om/helpers/TestOmSnapshotInfo.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestOzoneFileSystem.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestOzoneFsSnapshot.java
  hadoop-ozone/interface-client/src/main/proto/OmClientProtocol.proto
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmMetadataManagerImpl.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/snapshot/OMSnapshotCreateRequest.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/request/OMRequestTestUtils.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/request/key/TestOMDirectoriesPurgeRequestAndResponse.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/request/snapshot/TestOMSnapshotCreateRequest.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/response/snapshot/TestOMSnapshotCreateResponse.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/service/TestQuotaRepairTask.java
  hadoop-ozone/ozonefs-common/src/main/java/org/apache/hadoop/fs/ozone/BasicRootedOzoneClientAdapterImpl.java
Labels: snapshot

#5215 HDDS-9207. [Snapshot] Snapshot Bootstrap creates incorrect hard links.
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OMDBCheckpointServlet.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/TestOmSnapshotManager.java
Labels: snapshot

#4844 HDDS-8777. Ratis Echo Freon Command
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/OmUtils.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/protocol/OzoneManagerProtocol.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/protocolPB/OzoneManagerProtocolClientSideTranslatorPB.java
  hadoop-ozone/dist/src/main/smoketest/freon/echoRPCLoad.robot
  hadoop-ozone/interface-client/src/main/proto/OmClientProtocol.proto
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/common/PayloadUtils.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/common/package-info.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OzoneManager.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/ratis/utils/OzoneManagerRatisUtils.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/util/OMEchoRPCWriteRequest.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/response/util/OMEchoRPCWriteResponse.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/response/util/package-info.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/protocolPB/OzoneManagerRequestHandler.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/response/TestCleanupTableInfo.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/freon/OmRPCLoadGenerator.java
Labels: performance

#5190 HDDS-9174. Native library loader fails when system property "native.lib.tmp.dir" is not set
  hadoop-hdds/rocks-native/pom.xml
  hadoop-hdds/rocks-native/src/main/java/org/apache/hadoop/hdds/utils/NativeLibraryLoader.java
  hadoop-hdds/rocks-native/src/test/java/org/apache/hadoop/hdds/utils/TestNativeLibraryLoader.java
  pom.xml
Labels: snapshot

#5242 HDDS-9209. Re-enable check for backup compaction files pruning
  hadoop-hdds/rocksdb-checkpoint-differ/src/main/java/org/apache/ozone/rocksdiff/RocksDBCheckpointDiffer.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOMRatisSnapshots.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestSnapshotBackgroundServices.java
Labels: snapshot

#5165 HDDS-8863. Snapdiff should read only keys with the bucket prefix
  hadoop-hdds/managed-rocksdb/src/main/java/org/apache/hadoop/hdds/utils/db/managed/ManagedSlice.java
  hadoop-hdds/rocks-native/src/main/java/org/apache/hadoop/hdds/utils/db/managed/ManagedSSTDumpIterator.java
  hadoop-hdds/rocks-native/src/main/patches/rocks-native.patch
  hadoop-hdds/rocks-native/src/test/java/org/apache/hadoop/hdds/utils/TestUtils.java
  hadoop-hdds/rocks-native/src/test/java/org/apache/hadoop/hdds/utils/db/managed/TestManagedSSTDumpIterator.java
  hadoop-hdds/rocksdb-checkpoint-differ/pom.xml
  hadoop-hdds/rocksdb-checkpoint-differ/src/main/java/org/apache/ozone/rocksdb/util/ManagedSstFileReader.java
  hadoop-hdds/rocksdb-checkpoint-differ/src/test/java/org/apache/ozone/rocksdb/util/TestManagedSstFileReader.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/snapshot/SnapshotDiffManager.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestSnapshotDiffManager.java
Labels: snapshot

#5263 HDDS-8453. [Snapshot] KeyDeleting service should not reclaim snapshot keys.
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestDirectoryDeletingServiceWithFSO.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmMetadataManagerImpl.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/service/AbstractKeyDeletingService.java
Labels: snapshot

#5278 HDDS-9268. [snapshot] Update list of snapshot apis to include lsDiff details
  hadoop-hdds/docs/content/feature/Snapshot.md
Labels: documentation

#5213 HDDS-9161. Recon Pipelines datanode columns search does not work
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/utils/columnSearch.tsx
Labels: recon

#5248 HDDS-9173. Invalidate snapshot cache once snapshot gets purged
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestSnapshotDeletingService.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/snapshot/OMSnapshotPurgeRequest.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/snapshot/SnapshotCache.java
Labels: snapshot

#5282 HDDS-8013. Freon S3 bucket creation test should use unique prefix
  hadoop-ozone/dist/src/main/smoketest/s3/freon.robot
Labels: test, s3

#5258 HDDS-9236. Fix snapdiff output for key modification
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/OmKeyInfo.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOmSnapshot.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/snapshot/SnapshotDiffManager.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestSnapshotDiffManager.java
Labels: snapshot

#5232 HDDS-9224. Recon HeatMap UI issues
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/heatMap/heatMapConfiguration.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/heatMap/heatmap.tsx
Labels: recon

#5176 HDDS-9076. Recon UI OMDB Insights Changes and Improvements
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/db.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/routes.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/overviewCard/overviewCard.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/insights/om/om.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/overview/overview.tsx
Labels: recon

#5296 HDDS-9286. Migrate TestSecureOzoneCluster to JUnit5
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/TestSecureOzoneCluster.java
Labels: test

#5299 HDDS-6074. Remove flaky tag from TestOzoneManagerHAWithData
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOzoneManagerHAWithData.java
Labels: test

#5283 HDDS-9252. NPE in TestNSSummaryTask
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/ReconTestInjector.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/tasks/TestNSSummaryTask.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/tasks/TestNSSummaryTaskWithFSO.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/tasks/TestNSSummaryTaskWithLegacy.java
Labels: test

#5303 HDDS-7601. Added new columnFamily: compactionLogTable to store compaction entries
  hadoop-hdds/interface-client/src/main/proto/hdds.proto
  hadoop-hdds/rocksdb-checkpoint-differ/src/main/java/org/apache/ozone/compaction/log/CompactionFileInfo.java
  hadoop-hdds/rocksdb-checkpoint-differ/src/main/java/org/apache/ozone/compaction/log/CompactionLogEntry.java
  hadoop-hdds/rocksdb-checkpoint-differ/src/main/java/org/apache/ozone/compaction/log/package-info.java
  hadoop-hdds/rocksdb-checkpoint-differ/src/main/java/org/apache/ozone/rocksdiff/RocksDBCheckpointDiffer.java
  hadoop-hdds/rocksdb-checkpoint-differ/src/test/java/org/apache/ozone/compaction/log/TestCompactionFileInfo.java
  hadoop-hdds/rocksdb-checkpoint-differ/src/test/java/org/apache/ozone/compaction/log/TestCompactionLogEntry.java
  hadoop-ozone/interface-storage/src/main/java/org/apache/hadoop/ozone/om/OMMetadataManager.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmMetadataManagerImpl.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/codec/OMDBDefinition.java
Labels: snapshot

#5268 HDDS-8815. Fixing the package info of rocks native packages
  hadoop-hdds/rocks-native/src/main/java/org/apache/hadoop/hdds/utils/db/managed/package-info.java
  hadoop-hdds/rocks-native/src/main/java/org/apache/hadoop/hdds/utils/package-info.java
Labels: snapshot

#5309 HDDS-9300. Instruct admins to use `OZONE_MANAGER_CLASSPATH` for `RangerOzoneAuthorizer`
  hadoop-hdds/docs/content/security/SecurityWithRanger.md
  hadoop-hdds/docs/content/security/SecurityWithRanger.zh.md
Labels: documentation

#5353 HDDS-7531. (addendum) Intermittent error while removing docker network
  hadoop-ozone/dist/src/main/compose/testlib.sh
Labels: test

#5337 HDDS-9333. Snapshot should use snapshot's keyManager in optimizeDirDeletesAndSubmitRequest
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/service/AbstractKeyDeletingService.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/service/DirectoryDeletingService.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/service/SnapshotDeletingService.java
Labels: snapshot

#5336 HDDS-9332. Handle empty unit check
  .github/workflows/ci.yml
  dev-support/ci/categorize_basic_checks.sh
  dev-support/ci/selective_ci_checks.sh
Labels: CI

#5346 HDDS-9301. Fail checks in Summary step instead of Test
  .github/workflows/ci.yml
  hadoop-ozone/dev-support/checks/_summary.sh
Labels: CI

#5371 HDDS-9359. Parameter for fail-fast behavior in flaky-test-check
  .github/workflows/intermittent-test-check.yml
Labels: test

#5370 HDDS-9351. ManagedChannel not shutdown properly in TestRootedOzoneFileSystemWithFSO
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestLeaseRecovery.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestOzoneFileSystemWithFSO.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestRootedOzoneFileSystem.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestRootedOzoneFileSystemWithFSO.java
Labels: test
