Repository apache/ozone, pull requests merged in 2023-01, with the labels that each got.

#4045 HDDS-7524. Compaction DAG node pruning
  hadoop-hdds/common/src/main/java/org/apache/hadoop/ozone/OzoneConfigKeys.java
  hadoop-hdds/common/src/main/resources/ozone-default.xml
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/db/DBStoreBuilder.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/db/RDBStore.java
  hadoop-hdds/rocksdb-checkpoint-differ/pom.xml
  hadoop-hdds/rocksdb-checkpoint-differ/src/main/java/org/apache/ozone/rocksdiff/RocksDBCheckpointDiffer.java
  hadoop-hdds/rocksdb-checkpoint-differ/src/test/java/org/apache/ozone/rocksdiff/TestRocksDBCheckpointDiffer.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmSnapshotManager.java
Labels: snapshot

#4077 HDDS-7633. Compile error with Java 11: package com.sun.jmx.mbeanserver is not visible
  .github/workflows/ci.yml
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/HddsDatanodeService.java
Labels: build

#4108 HDDS-7607. [Snapshot] SnapshotDiff command lists unmodified file as modified
  hadoop-hdds/rocksdb-checkpoint-differ/src/main/java/org/apache/ozone/rocksdb/util/RdbUtil.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/OmKeyLocationInfoGroup.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/snapshot/SnapshotDiffReport.java
  hadoop-ozone/common/src/test/java/org/apache/hadoop/ozone/om/helpers/TestOmKeyInfo.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOmSnapshot.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/snapshot/SnapshotDiffManager.java
Labels: snapshot

#4137 HDDS-7714. Docker cluster ozone-om-ha fails during docker-compose up
  hadoop-ozone/dist/src/main/compose/ozone-om-ha/docker-compose.yaml
Labels: bug, test

#4147 HDDS-7727. EC: SCM unregistered event handler for DatanodeCommandCountUpdated
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/StorageContainerManager.java
Labels: EC

#4155 HDDS-7726. EC: Enhance datanode reconstruction log message
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ec/reconstruction/ECReconstructionCommandInfo.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ec/reconstruction/ECReconstructionCoordinatorTask.java
Labels: EC

#4119 HDDS-7690. [Snapshot] Use SST file list output from compaction DAG as SnapshotDiff input
  hadoop-hdds/rocksdb-checkpoint-differ/src/main/java/org/apache/ozone/rocksdiff/RocksDBCheckpointDiffer.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmSnapshotManager.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/snapshot/SnapshotDiffManager.java
Labels: snapshot

#4168 HDDS-7690. Addendum: [Snapshot] Use SST file list output from compaction DAG as SnapshotDiff input
  hadoop-hdds/rocksdb-checkpoint-differ/src/main/java/org/apache/ozone/rocksdiff/RocksDBCheckpointDiffer.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmSnapshotManager.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/snapshot/SnapshotDiffManager.java
Labels: snapshot

#4015 HDDS-6984. [Snapshot] Prevent bucket from being deleted if snapshot exists
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/exceptions/OMException.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOmSnapshot.java
  hadoop-ozone/interface-client/src/main/proto/OmClientProtocol.proto
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/bucket/OMBucketDeleteRequest.java
Labels: snapshot

#4139 HDDS-7718. Bump Netty to 4.1.86 and gRPC to 1.51.1
  pom.xml
Labels: dependencies

#4122 HDDS-7702. [snapshot] Add unit-testcases for Ozone fs createSnapshot
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestOzoneFsSnapshot.java
Labels: snapshot

#4185 HDDS-7765. [Snapshot] Handle OzoneManager#getKeyInfo with OmMetadataReader.
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/IOmMetadataReader.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OMMetrics.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmMetadataManagerImpl.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmMetadataReader.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmMetadataReaderMetrics.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmSnapshot.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmSnapshotMetrics.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OzoneManager.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/recovery/ReconOmMetadataManagerImpl.java
Labels: snapshot

#4164 HDDS-7506. [Snapshot] Expose more snapshot metrics under OMMetrics
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOmMetrics.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OMMetrics.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OzoneManager.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/snapshot/OMSnapshotCreateRequest.java
Labels: snapshot

#4178 HDDS-7779. [snapshot] Add unit-testcases for Ozone SnapshotDiff
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOmSnapshot.java
Labels: snapshot

#4171 HDDS-7768. [Snapshot] Add acceptance tests
  hadoop-ozone/dist/src/main/compose/ozone/test.sh
  hadoop-ozone/dist/src/main/smoketest/snapshot/basic.robot
Labels: snapshot

#4148 HDDS-7704. [snapshot] Add unit-testcases for snapshot restore
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestOzoneSnapshotRestore.java
Labels: snapshot

#4198 HDDS-7819. [snapshot] Add unit-testcases for fs delete of bucket havng snapshots
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestOzoneFsSnapshot.java
Labels: snapshot

#4120 HDDS-7600. [Snapshot] Mark all new proto message fields as optional
  hadoop-ozone/interface-client/src/main/proto/OmClientProtocol.proto
Labels: snapshot

#4213 HDDS-7808. Intermittent failure in TestReplicationManager#testUnderReplicationQueuePopulated
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/container/replication/ReplicationManager.java
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/hdds/scm/container/replication/TestReplicationManager.java
Labels: test

#4216 HDDS-7806. Add unit tests for push replication
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/replication/TestPushReplicator.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/replication/TestSendContainerOutputStream.java
Labels: test

#4214 HDDS-7845. [Snapshot] Wait for RocksDB checkpoint directory creation
  hadoop-hdds/framework/pom.xml
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/db/RDBCheckpointManager.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/OmKeyInfo.java
  hadoop-ozone/dist/src/main/license/bin/LICENSE.txt
  hadoop-ozone/dist/src/main/license/jar-report.txt
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestOzoneSnapshotRestore.java
  pom.xml
Labels: snapshot
