Repository apache/ozone, pull requests merged in 2024-11, with the labels that each got.

#7127 HDDS-11290. Container scanner should keep scanning after non-fatal errors
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/impl/HddsDispatcher.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/interfaces/Container.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/interfaces/Handler.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/interfaces/ScanResult.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/utils/ContainerLogger.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/keyvalue/KeyValueContainer.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/keyvalue/KeyValueContainerCheck.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/keyvalue/KeyValueHandler.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/AbstractBackgroundContainerScanner.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/BackgroundContainerDataScanner.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/BackgroundContainerMetadataScanner.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/ContainerController.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/ContainerScanError.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/DataScanResult.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/MetadataScanResult.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/OnDemandContainerDataScanner.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/OzoneContainer.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/common/ContainerTestUtils.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/keyvalue/TestKeyValueContainerCheck.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/keyvalue/TestKeyValueHandlerWithUnhealthyContainer.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/ozoneimpl/TestBackgroundContainerDataScanner.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/ozoneimpl/TestBackgroundContainerMetadataScanner.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/ozoneimpl/TestContainerScannersAbstract.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/ozoneimpl/TestOnDemandContainerDataScanner.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/dn/scanner/TestBackgroundContainerDataScannerIntegration.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/dn/scanner/TestBackgroundContainerMetadataScannerIntegration.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/dn/scanner/TestContainerScannerIntegrationAbstract.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/dn/scanner/TestOnDemandContainerDataScannerIntegration.java
Labels: container-reconciliation

#7321 HDDS-11563. [OM/SCM/DN] WebUI Display Namespace
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/HddsDatanodeService.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/server/ServiceRuntimeInfo.java
  hadoop-hdds/framework/src/main/resources/webapps/static/templates/overview.html
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/StorageContainerManager.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OzoneManager.java
Labels: UI

#7389 HDDS-11637. Compile failure is ignored in build check
  hadoop-ozone/dev-support/checks/build.sh
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/upgrade/UpgradeActionRecon.java
Labels: CI

#7393 HDDS-11641. Allow testing Hadoop with custom docker images
  hadoop-ozone/dist/src/main/compose/common/hadoop-test.sh
Labels: test

#7358 HDDS-11609. Switch to Recon v2 UI as the default UI
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/app.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/pages/notFound/notFound.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/routes-v2.tsx
Labels: recon, UI

#7398 HDDS-11652. Fix SCM start command in SCM-HA doc
  hadoop-hdds/docs/content/feature/SCM-HA.md
Labels: documentation

#7400 HDDS-11311. Added Compatibility test for HSync
  hadoop-ozone/dist/src/main/smoketest/compatibility/read.robot
  hadoop-ozone/dist/src/main/smoketest/compatibility/setup.robot
  hadoop-ozone/dist/src/main/smoketest/compatibility/write.robot
Labels: test

#7206 HDDS-11462. Enhancing DataNode I/O Monitoring Capabilities.
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/HddsConfigKeys.java
  hadoop-hdds/common/src/main/resources/ozone-default.xml
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/DNMXBean.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/DNMXBeanImpl.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/HddsDatanodeService.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/impl/ContainerSet.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/volume/HddsVolume.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/volume/VolumeIOStats.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/volume/VolumeInfoMetrics.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/BackgroundContainerDataScanner.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/ContainerController.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/ContainerDataScannerMetrics.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/OzoneContainer.java
  hadoop-hdds/container-service/src/main/resources/webapps/hddsDatanode/dn-overview.html
  hadoop-hdds/container-service/src/main/resources/webapps/hddsDatanode/dn-scanner.html
  hadoop-hdds/container-service/src/main/resources/webapps/hddsDatanode/dn.js
  hadoop-hdds/container-service/src/main/resources/webapps/hddsDatanode/index.html
  hadoop-hdds/container-service/src/main/resources/webapps/hddsDatanode/iostatus.html
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/common/volume/TestVolumeIOStatsWithPrometheusSink.java
  hadoop-hdds/framework/src/main/resources/webapps/static/ozone.css
  hadoop-hdds/framework/src/main/resources/webapps/static/ozone.js
  hadoop-hdds/framework/src/main/resources/webapps/static/templates/jvm.html
  hadoop-hdds/framework/src/main/resources/webapps/static/templates/menu.html
  hadoop-hdds/framework/src/main/resources/webapps/static/templates/overview.html
Labels: metrics

#7404 HDDS-11659. Improve HSync compatibility test
  hadoop-ozone/dist/src/main/smoketest/compatibility/read.robot
  hadoop-ozone/dist/src/main/smoketest/compatibility/write.robot
Labels: test

#7409 HDDS-11583. Use ozone-runner from GitHub in CI
  .github/workflows/ci.yml
Labels: CI

#7422 HDDS-11683. Skip shade in most integration checks
  .github/workflows/ci.yml
  .github/workflows/intermittent-test-check.yml
Labels: CI

#7407 HDDS-11665. Minor optimizations on the write path
  hadoop-hdds/client/src/main/java/org/apache/hadoop/hdds/scm/XceiverClientRatis.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/ozone/common/ChunkBufferImplWithByteBuffer.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/ozone/container/common/helpers/BlockData.java
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/io/KeyOutputStream.java
Labels: performance

#7424 HDDS-11685. Use ozone-testkrb5 from GitHub
  .github/workflows/ci.yml
  hadoop-ozone/dist/pom.xml
  hadoop-ozone/dist/src/main/keytabs/HTTP.keytab
  hadoop-ozone/dist/src/main/keytabs/dn.keytab
  hadoop-ozone/dist/src/main/keytabs/hadoop.keytab
  hadoop-ozone/dist/src/main/keytabs/httpfs.keytab
  hadoop-ozone/dist/src/main/keytabs/jhs.keytab
  hadoop-ozone/dist/src/main/keytabs/nm.keytab
  hadoop-ozone/dist/src/main/keytabs/om.keytab
  hadoop-ozone/dist/src/main/keytabs/recon.keytab
  hadoop-ozone/dist/src/main/keytabs/rm.keytab
  hadoop-ozone/dist/src/main/keytabs/s3g.keytab
  hadoop-ozone/dist/src/main/keytabs/scm.keytab
  hadoop-ozone/dist/src/main/keytabs/testuser.keytab
  hadoop-ozone/dist/src/main/keytabs/testuser2.keytab
Labels: CI

#7421 HDDS-11664. Hadoop download failure not reported as error
  hadoop-ozone/dev-support/checks/_lib.sh
  hadoop-ozone/dev-support/checks/acceptance.sh
Labels: CI

#7399 HDDS-10166. Replace GenericTestUtils' temporary directories with @TempDir
  hadoop-hdds/test-utils/src/main/java/org/apache/ozone/test/GenericTestUtils.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/TestXceiverClientManager.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/TestXceiverClientMetrics.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/TestBlockTokens.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/TestBlockTokensCLI.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/TestDelegationToken.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/TestOMSortDatanodes.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/OzoneRpcClientTests.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestBCSID.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestContainerReplicationEndToEnd.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestContainerStateMachine.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestContainerStateMachineFailureOnRead.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestContainerStateMachineFlushDelay.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestDeleteWithInAdequateDN.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestOzoneAtRestEncryption.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestSecureOzoneRpcClient.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/common/transport/server/ratis/TestCSMMetrics.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/metrics/TestContainerMetrics.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/ozoneimpl/TestSecureOzoneContainer.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/server/TestContainerServer.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/server/TestSecureContainerServer.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/freon/TestHadoopDirTreeGenerator.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/freon/TestHadoopNestedDirGenerator.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/freon/TestOmBucketReadWriteFileOps.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/freon/TestOmBucketReadWriteKeyOps.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/fsck/TestContainerMapper.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestKeyManagerImpl.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOmContainerLocationCache.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/service/TestRangerBGSyncService.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/shell/TestOzoneShellHA.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/shell/TestOzoneTenantShell.java
  hadoop-ozone/tools/src/test/java/org/apache/hadoop/ozone/genconf/TestGenerateOzoneRequiredConfigurations.java
Labels: test

#7423 HDDS-11684. Remove suppression of HiddenField
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/security/x509/certificate/CertInfo.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/upgrade/FinalizationManagerImpl.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/upgrade/SCMUpgradeFinalizationContext.java
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/TenantArgs.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/DeleteTenantState.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/OmDBAccessIdInfo.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/OmDBTenantState.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/OmDBUserPrincipalInfo.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/OmRangerSyncArgs.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/OmTenantArgs.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/S3VolumeContext.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/NodeEndpoint.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/types/AclMetadata.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/types/ClusterStateResponse.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/types/DatanodeMetadata.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/types/NamespaceSummaryResponse.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/types/PipelineMetadata.java
Labels: code-cleanup

#7410 HDDS-11668. Recon List Keys API: Reuse key prefix if parentID is the same
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconUtils.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/OMDBInsightEndpoint.java
Labels: recon

#7425 HDDS-11686. Use ozone image from GitHub in CI
  .github/workflows/ci.yml
  hadoop-ozone/dist/pom.xml
  hadoop-ozone/dist/src/main/compose/testlib.sh
  hadoop-ozone/dist/src/main/compose/upgrade/compose/ha/.env
  hadoop-ozone/dist/src/main/compose/upgrade/compose/ha/docker-compose.yaml
  hadoop-ozone/dist/src/main/compose/upgrade/compose/non-ha/.env
  hadoop-ozone/dist/src/main/compose/upgrade/compose/non-ha/docker-compose.yaml
  hadoop-ozone/dist/src/main/compose/upgrade/compose/om-ha/.env
  hadoop-ozone/dist/src/main/compose/upgrade/compose/om-ha/docker-compose.yaml
  hadoop-ozone/dist/src/main/compose/upgrade/testlib.sh
  hadoop-ozone/dist/src/main/compose/xcompat/.env
  hadoop-ozone/dist/src/main/compose/xcompat/clients.yaml
  hadoop-ozone/dist/src/main/compose/xcompat/old-cluster.yaml
Labels: CI

#7427 HDDS-11653. Bump Ratis to 3.1.2
  pom.xml
Labels: dependencies

#7429 HDDS-11689. Extract scheduled workflow for populate-cache
  .github/workflows/populate-cache.yml
  .github/workflows/scheduled-cache-update.yml
Labels: CI

#7372 HDDS-11615. Add Upgrade Action for Initial Schema Constraints for Unhealthy Container Table in Recon.
  hadoop-ozone/recon-codegen/src/main/java/org/hadoop/ozone/recon/schema/ContainerSchemaDefinition.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconServer.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/scm/ReconStorageContainerManagerFacade.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/upgrade/InitialConstraintUpgradeAction.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/upgrade/ReconLayoutVersionManager.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/upgrade/ReconUpgradeAction.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/upgrade/TestInitialConstraintUpgradeAction.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/upgrade/TestReconLayoutVersionManager.java
Labels: recon

#7428 HDDS-11692. Skip spotbugs for modules with only generated code
  hadoop-hdds/interface-admin/pom.xml
  hadoop-hdds/interface-client/pom.xml
  hadoop-hdds/interface-server/pom.xml
  hadoop-ozone/interface-client/pom.xml
Labels: CI

#7432 HDDS-11698. Use hadoop image from GitHub in CI
  .github/workflows/ci.yml
  hadoop-ozone/dist/src/main/compose/common/hadoop-secure.yaml
  hadoop-ozone/dist/src/main/compose/common/hadoop-test.sh
  hadoop-ozone/dist/src/main/compose/common/hadoop.yaml
  hadoop-ozone/dist/src/main/compose/ozonesecure-ha/.env
  hadoop-ozone/dist/src/main/compose/ozonesecure-ha/docker-compose.yaml
  hadoop-ozone/dist/src/main/compose/ozonesecure-mr/.env
  hadoop-ozone/dist/src/main/compose/ozonesecure-mr/docker-compose.yaml
  hadoop-ozone/dist/src/main/compose/ozonesecure/.env
  hadoop-ozone/dist/src/main/compose/ozonesecure/docker-compose.yaml
  hadoop-ozone/dist/src/main/compose/upgrade/compose/ha/.env
  hadoop-ozone/dist/src/main/compose/upgrade/compose/ha/docker-compose.yaml
  hadoop-ozone/dist/src/main/compose/xcompat/.env
  hadoop-ozone/dist/src/main/compose/xcompat/new-cluster.yaml
  hadoop-ozone/dist/src/main/compose/xcompat/old-cluster.yaml
Labels: CI

#6655 HDDS-10804. Include only limited set of ports in Pipeline proto
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/protocol/DatanodeDetails.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/scm/container/common/helpers/ContainerWithPipeline.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/scm/pipeline/Pipeline.java
  hadoop-hdds/common/src/test/java/org/apache/hadoop/hdds/protocol/TestDatanodeDetails.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/protocol/ScmBlockLocationProtocolServerSideTranslatorPB.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOMRatisSnapshots.java
Labels: scm, client, performance, compatibility

#7448 HDDS-11737. UnsupportedOperationException in S3 setBucketAcl
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/OzoneVolume.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/s3/awssdk/v1/AbstractS3SDKV1Tests.java
Labels: bug, s3

#7420 HDDS-11163. Improve Heatmap page UI
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/components/navBar/navBar.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/components/plots/heatmapPlot.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/constants/heatmap.constants.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/pages/heatmap/heatmap.less
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/pages/heatmap/heatmap.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/routes-v2.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/types/heatmap.types.ts
Labels: recon, UI

#7437 HDDS-11708. Recon ListKeys API should return a proper http response status code if NSSummary rebuild is in progress.
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconUtils.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/OMDBInsightEndpoint.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/ServiceNotReadyException.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/api/TestContainerEndpoint.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/api/TestNSSummaryEndpointWithFSO.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/api/TestOmDBInsightEndPoint.java
Labels: recon

#7449 HDDS-11739. Extract generic unmarshaller for S3 requests
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/endpoint/BucketEndpoint.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/endpoint/CompleteMultipartUploadRequestUnmarshaller.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/endpoint/MessageUnmarshaller.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/endpoint/MultiDeleteRequestUnmarshaller.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/endpoint/PutBucketAclRequestUnmarshaller.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/endpoint/PutTaggingUnmarshaller.java
Labels: s3, code-cleanup

#7376 HDDS-11617. Update hadoop to 3.4.1
  hadoop-hdds/interface-client/pom.xml
  hadoop-hdds/test-utils/src/main/java/org/apache/ozone/test/MetricsAsserts.java
  hadoop-ozone/dist/src/main/compose/common/s3a-test.sh
  hadoop-ozone/dist/src/main/license/jar-report.txt
  hadoop-ozone/dist/src/shell/conf/log4j.properties
  hadoop-ozone/integration-test/pom.xml
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/common/transport/server/ratis/TestCSMMetrics.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/tools/contract/AbstractContractDistCpTest.java
  hadoop-ozone/interface-client/pom.xml
  hadoop-ozone/ozonefs-shaded/pom.xml
  pom.xml
Labels: dependencies

#7447 HDDS-11733. Remove okio versioning and unused okhttp dependency
  hadoop-ozone/dist/src/main/license/bin/LICENSE.txt
  pom.xml
Labels: dependencies, code-cleanup

#7293 HDDS-10928. Implement container comparison logic within datanodes.
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/checksum/ContainerChecksumTreeManager.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/checksum/ContainerDiffReport.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/checksum/ContainerMerkleTree.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/checksum/ContainerMerkleTreeMetrics.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/checksum/ContainerMerkleTreeTestUtils.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/checksum/TestContainerChecksumTreeManager.java
  hadoop-hdds/interface-client/src/main/proto/DatanodeClientProtocol.proto
Labels: container-reconciliation

#7470 HDDS-11780. Increase client write retry when SCM is in safe mode
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/protocolPB/OzoneManagerProtocolClientSideTranslatorPB.java
Labels: scm, client

#7435 HDDS-11704. Hadoop test leaves running containers in case of failure
  hadoop-ozone/dist/src/main/compose/testlib.sh
Labels: test

#7189 HDDS-10411. Support incremental ChunkBuffer checksum calculation
  hadoop-hdds/client/src/main/java/org/apache/hadoop/hdds/scm/OzoneClientConfig.java
  hadoop-hdds/client/src/main/java/org/apache/hadoop/hdds/scm/storage/BlockOutputStream.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/ozone/common/Checksum.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/ozone/common/ChecksumCache.java
  hadoop-hdds/common/src/test/java/org/apache/hadoop/ozone/common/TestChecksum.java
  hadoop-hdds/common/src/test/java/org/apache/hadoop/ozone/common/TestChecksumCache.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/keyvalue/KeyValueHandler.java
  hadoop-ozone/client/src/test/java/org/apache/hadoop/ozone/client/TestBlockOutputStreamIncrementalPutBlock.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestHSync.java
Labels: hbase

#7336 HDDS-11561. Refactor Open Key Search Endpoint and Consolidate with OmDBInsightEndpoint Using StartPrefix Parameter.
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconUtils.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/OMDBInsightEndpoint.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/OMDBInsightSearchEndpoint.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/api/TestOmDBInsightEndPoint.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/api/TestOpenKeysSearchEndpoint.java
Labels: recon

#7483 HDDS-11718. Some CI checks passing despite error
  .github/workflows/ci.yml
  hadoop-ozone/dev-support/checks/_post_process.sh
  hadoop-ozone/dev-support/checks/acceptance.sh
  hadoop-ozone/dev-support/checks/author.sh
  hadoop-ozone/dev-support/checks/bats.sh
  hadoop-ozone/dev-support/checks/checkstyle.sh
  hadoop-ozone/dev-support/checks/docs.sh
  hadoop-ozone/dev-support/checks/findbugs.sh
  hadoop-ozone/dev-support/checks/junit.sh
  hadoop-ozone/dev-support/checks/kubernetes.sh
  hadoop-ozone/dev-support/checks/license.sh
  hadoop-ozone/dev-support/checks/rat.sh
  hadoop-ozone/dev-support/checks/repro.sh
  hadoop-ozone/dist/src/main/k8s/definitions/ozone/config.yaml
  hadoop-ozone/dist/src/main/k8s/examples/getting-started/config-configmap.yaml
  hadoop-ozone/dist/src/main/k8s/examples/minikube/config-configmap.yaml
  hadoop-ozone/dist/src/main/k8s/examples/ozone-dev/config-configmap.yaml
  hadoop-ozone/dist/src/main/k8s/examples/ozone-ha/config-configmap.yaml
  hadoop-ozone/dist/src/main/k8s/examples/ozone/config-configmap.yaml
Labels: CI
