Repository apache/ozone, pull requests merged in 2024-06, with the labels that each got.

#6751 HDDS-10572. Implement multiDelete using OMKeysDeleteRequest
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/OzoneBucket.java
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/protocol/ClientProtocol.java
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/rpc/RpcClient.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/ErrorInfo.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/protocol/OzoneManagerProtocol.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/protocolPB/OzoneManagerProtocolClientSideTranslatorPB.java
  hadoop-ozone/dist/src/main/compose/common/s3a-test.sh
  hadoop-ozone/interface-client/src/main/proto/OmClientProtocol.proto
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/key/OMKeysDeleteRequest.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/key/OmKeysDeleteRequestWithFSO.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/request/key/TestOMKeysDeleteRequest.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/endpoint/BucketEndpoint.java
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/client/ClientProtocolStub.java
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/client/OzoneBucketStub.java
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/s3/endpoint/TestPermissionCheck.java
Labels: s3

#6686 HDDS-10273. Intermittent build failure while downloading NodeJS
  .github/workflows/populate-cache.yml
  dev-support/ci/download-nodejs.sh
  hadoop-ozone/recon/pom.xml
  pom.xml
Labels: CI

#6769 HDDS-10975. Recon Show SCM and OM services IDs in overview page
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/ClusterStateEndpoint.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/types/ClusterStateResponse.java
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/db.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/overviewCard/overviewCard.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/overview/overview.tsx
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/api/TestClusterStateEndpoint.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/api/TestEndpoints.java
Labels: recon, UI

#6535 HDDS-9626. [Recon] Disk Usage page with high number of key/bucket/volume
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/db.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/routes.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/rightDrawer/rightDrawer.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/diskUsage/diskUsage.tsx
Labels: recon, UI

#6800 HDDS-10999. Remove dependency on ratis-server from Ozone Client
  hadoop-hdds/common/pom.xml
  pom.xml
Labels: build

#6794 HDDS-10997. Avoid publishing build scan for helper Maven commands
  .github/workflows/build-ratis.yml
  .github/workflows/populate-cache.yml
  dev-support/ci/download-nodejs.sh
  hadoop-hdds/docs/dev-support/bin/generate-site.sh
  hadoop-ozone/dev-support/checks/acceptance.sh
  hadoop-ozone/dev-support/checks/blockade.sh
  hadoop-ozone/dev-support/checks/coverage.sh
  hadoop-ozone/dev-support/checks/junit.sh
  hadoop-ozone/dev-support/checks/kubernetes.sh
  hadoop-ozone/dist/src/main/k8s/examples/testlib.sh
  hadoop-ozone/dist/src/main/keytabs/update-keytabs.sh
  hadoop-ozone/dist/src/main/license/update-jar-report.sh
Labels: CI

#6749 HDDS-10940. Remove useless TestSCMContainerPlacementPolicyMetrics
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/container/placement/algorithms/SCMContainerPlacementCapacity.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/container/placement/algorithms/SCMContainerPlacementRandom.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/StorageContainerManager.java
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/hdds/scm/container/placement/algorithms/TestSCMContainerPlacementCapacity.java
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/hdds/scm/container/placement/algorithms/TestSCMContainerPlacementRandom.java
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/ozone/container/placement/TestContainerPlacement.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/TestSCMContainerPlacementPolicyMetrics.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/container/TestContainerReplication.java
Labels: test, metrics

#6795 HDDS-10994. Migrate from Gradle Enterprise to Develocity
  .github/workflows/ci.yml
  .github/workflows/intermittent-test-check.yml
  .github/workflows/repeat-acceptance.yml
  .gitignore
  .mvn/develocity.xml
  .mvn/extensions.xml
Labels: build, CI

#6533 HDDS-10295. Provide an "ozone repair" subcommand to update the snapshot info in transactionInfoTable
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/TransactionInfo.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/shell/TestOzoneRepairShell.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/debug/RocksDBUtils.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/repair/TransactionInfoRepair.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/repair/om/SnapshotRepair.java
  hadoop-ozone/tools/src/test/java/org/apache/hadoop/ozone/repair/TestTransactionInfoRepair.java
  hadoop-ozone/tools/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: snapshot

#6742 HDDS-10880. Duplicate Pipeline ID Detected in ReconContainerManager.
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/scm/ReconContainerManager.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/scm/ReconPipelineManager.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/scm/ReconPipelineReportHandler.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/scm/TestReconPipelineManager.java
Labels: recon

#6806 HDDS-11005. TestEndPoint#testRegisterRpcTimeout fails when run in itself
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/ozone/container/common/TestEndPoint.java
Labels: test

#6810 HDDS-10632. Handle inconsistent read issue for hsync keys after lease recovery.
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/LeaseKeyInfo.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/protocolPB/OzoneManagerProtocolClientSideTranslatorPB.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestLeaseRecovery.java
  hadoop-ozone/interface-client/src/main/proto/OmClientProtocol.proto
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/file/OMRecoverLeaseRequest.java
  hadoop-ozone/ozonefs-common/src/main/java/org/apache/hadoop/fs/ozone/LeaseRecoveryClientDNHandler.java
  hadoop-ozone/ozonefs-hadoop3/src/main/java/org/apache/hadoop/fs/ozone/OzoneFileSystem.java
  hadoop-ozone/ozonefs-hadoop3/src/main/java/org/apache/hadoop/fs/ozone/RootedOzoneFileSystem.java
  hadoop-ozone/ozonefs/src/main/java/org/apache/hadoop/fs/ozone/OzoneFileSystem.java
  hadoop-ozone/ozonefs/src/main/java/org/apache/hadoop/fs/ozone/RootedOzoneFileSystem.java
Labels: hbase

#6755 HDDS-9644. Fixed incorrect validation of path with namespace du commands.
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/shell/TestNSSummaryAdmin.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/admin/nssummary/DiskUsageSubCommand.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/admin/nssummary/NSSummaryAdmin.java
Labels: recon

#6674 HDDS-10852. Recon Heatmap - Not allowing user to select timerange if no data available
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/heatMap/heatmap.tsx
Labels: recon, UI

#6439 HDDS-10407. Introduce metrics for deleteKey operation in SCM service.
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/container/placement/metrics/SCMPerformanceMetrics.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/SCMBlockProtocolServer.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/StorageContainerManager.java
Labels: metrics

#6822 HDDS-10854. Run full Ozone CI with specific Ratis commit
  .github/workflows/build-ratis.yml
  .github/workflows/ci-with-ratis.yml
  .github/workflows/ci.yml
Labels: CI

#6830 HDDS-11022. Set default test exclusion
  hadoop-ozone/dev-support/checks/native.sh
  hadoop-ozone/dev-support/checks/unit.sh
  pom.xml
Labels: test, build

#6808 HDDS-11006. Selective checks: integration skipped when build not required
  .github/workflows/ci.yml
Labels: CI

#6833 HDDS-11032. Decommissioned datanodes shows up again after removing in Recon Datanodes page.
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/NodeEndpoint.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/api/TestEndpoints.java
Labels: recon

#6679 HDDS-10855. Handle Null ParentKeyInfo Error in Recon Namespace Summary Task.
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/tasks/NSSummaryTaskWithLegacy.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/tasks/NSSummaryTaskWithOBS.java
Labels: recon

#6411 HDDS-10486. Recon datanode UI to incorporate explicit removal of DEAD
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/db.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/routes.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/utils/axiosRequestHelper.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/datanodes/datanodes.less
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/datanodes/datanodes.tsx
Labels: recon

#6829 HDDS-11025. Update some ZH docs
  hadoop-hdds/docs/content/concept/Recon.zh.md
  hadoop-hdds/docs/content/start/OnPrem.zh.md
Labels: documentation

#6823 HDDS-10946. Test combinations of rename and rewrite
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestOzoneRpcClientAbstract.java
Labels: test

#6840 HDDS-11044. Recon Disk Usage need to remove tool tip
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/diskUsage/diskUsage.tsx
Labels: recon, UI

#6640 HDDS-10813. Improve Recon Debuggability for Snapshot Fetching, Sync Monitoring, and Permission Validation.
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/recon/ReconConfigKeys.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconUtils.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/spi/impl/OzoneManagerServiceProviderImpl.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/api/TestTriggerDBSyncEndpoint.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/spi/impl/TestOzoneManagerServiceProviderImpl.java
Labels: recon

#6809 HDDS-10923. Container Scanner should still scan unhealthy containers.
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/interfaces/Container.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/keyvalue/KeyValueContainer.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/BackgroundContainerDataScanner.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/BackgroundContainerMetadataScanner.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/ContainerController.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/ozoneimpl/OnDemandContainerDataScanner.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/common/ContainerTestUtils.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/ozoneimpl/TestBackgroundContainerDataScanner.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/ozoneimpl/TestBackgroundContainerMetadataScanner.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/ozoneimpl/TestContainerScannersAbstract.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/ozoneimpl/TestOnDemandContainerDataScanner.java
Labels: container-reconciliation

#6866 HDDS-11066. Fix inaccurate *.http.auth.type config descriptions in ozone-default.xml
  hadoop-hdds/common/src/main/resources/ozone-default.xml
Labels: documentation

#6844 HDDS-11031. Merge BaseApprover abstract class with the DefaultApprover.
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/security/x509/certificate/authority/BaseApprover.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/security/x509/certificate/authority/DefaultApprover.java
Labels: code-cleanup, crypto-compliance

#6843 HDDS-11030. Do not throw OperatorCreationException from CertificateApprover#sign
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/security/x509/certificate/authority/CertificateApprover.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/security/x509/certificate/authority/DefaultApprover.java
Labels: crypto-compliance

#6872 HDDS-10910. Bump Ratis to 3.1.0
  pom.xml
Labels: dependencies

#6853 HDDS-11054. native check fails with Java11+
  hadoop-hdds/rocks-native/pom.xml
  hadoop-ozone/dev-support/checks/junit.sh
Labels: CI

#6801 HDDS-10864. Recon Disk Usage If one volume is large it occupies almost all space of Pie Chart
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/db.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/diskUsage/diskUsage.tsx
Labels: recon, UI

#6778 HDDS-10887. Implement a basic Merkle Tree Manager.
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/checksum/ContainerChecksumTreeManager.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/checksum/ContainerMerkleTree.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/checksum/package-info.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/statemachine/DatanodeConfiguration.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/checksum/TestContainerChecksumTreeManager.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/checksum/TestContainerMerkleTree.java
  hadoop-hdds/interface-client/src/main/proto/DatanodeClientProtocol.proto
Labels: container-reconciliation
