Repository apache/ozone, pull requests merged in 2024-03, with the labels that each got.

#6306 HDDS-10447. Extract helper methods from Ozone native ACL unit tests
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/security/acl/OzoneNativeAclTestUtil.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/security/acl/TestOzoneNativeAuthorizer.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/security/acl/TestParentAcl.java
Labels: test, code-cleanup

#6289 HDDS-10252. [hsync] Revisit configuration keys for incremental chunk list after HDDS-9884
  hadoop-hdds/client/src/main/java/org/apache/hadoop/hdds/scm/OzoneClientConfig.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/scm/ScmConfigKeys.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/ozone/OzoneConfigKeys.java
  hadoop-hdds/common/src/main/resources/ozone-default.xml
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/keyvalue/impl/BlockManagerImpl.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/freon/containergenerator/GeneratorDatanode.java
Labels: hbase

#6320 HDDS-10439. Remove setConf from MiniOzoneCluster public interface
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/MiniOzoneCluster.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/MiniOzoneClusterImpl.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/client/rpc/TestOzoneRpcClientAbstract.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestAddRemoveOzoneManager.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOmSnapshotDisabled.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOmSnapshotDisabledRestart.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestOzoneManagerSnapshotAcl.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestOzoneSnapshotRestore.java
Labels: test, code-cleanup

#6298 HDDS-10329. [snapshot] Add unit-test for recreating snapshots with deleted snapshot names
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestOzoneFsSnapshot.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestOmSnapshot.java
Labels: test, snapshot

#6303 HDDS-10446. Refactoring Node2ObjectsMap, Node2PipelineMap, Node2ContainerMap
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/node/states/Node2ContainerMap.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/node/states/Node2PipelineMap.java
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/hdds/scm/container/MockNodeManager.java
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/hdds/scm/container/Node2ContainerMap.java
  hadoop-hdds/server-scm/src/test/java/org/apache/hadoop/hdds/scm/container/TestNode2ContainerMap.java
Labels: code-cleanup

#6317 HDDS-10457. Remove dependency commons-pool2
  hadoop-hdds/common/pom.xml
  hadoop-ozone/dist/src/main/license/bin/LICENSE.txt
  hadoop-ozone/dist/src/main/license/jar-report.txt
  hadoop-ozone/ozonefs-shaded/pom.xml
  pom.xml
Labels: dependencies

#6343 HDDS-10482. OMRequestTestUtils.createOmKeyInfo should set key modification time
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/TestOmMetadataManager.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/request/OMRequestTestUtils.java
Labels: test

#6346 HDDS-10487. Intermittent crash in TestSnapshotDiffManager
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestSnapshotDiffManager.java
Labels: test

#6340 HDDS-10470. Populate Maven dependency cache in separate workflow
  .github/workflows/ci.yml
  .github/workflows/intermittent-test-check.yml
  .github/workflows/populate-cache.yml
  .github/workflows/repeat-acceptance.yml
Labels: CI

#6132 HDDS-10188. Add unit tests around Distcp across buckets
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/AbstractRootedOzoneFileSystemTest.java
Labels: test

#6363 HDDS-10504. Remove unused VolumeInfo#configuredCapacity
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/volume/VolumeInfo.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/volume/VolumeUsage.java
Labels: code-cleanup

#6269 HDDS-10414. Some acceptance tests fail with Docker Compose V2
  hadoop-ozone/dist/src/main/smoketest/recon/recon-api.robot
  hadoop-ozone/dist/src/main/smoketest/topology/cli.robot
Labels: test

#6319 HDDS-10454. Make OzoneAcl immutable
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/OzoneAcl.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/OmBucketInfo.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/OmDirectoryInfo.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/OmKeyInfo.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/OmVolumeArgs.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/OzoneAclUtil.java
  hadoop-ozone/common/src/test/java/org/apache/hadoop/ozone/TestOzoneAcls.java
  hadoop-ozone/common/src/test/java/org/apache/hadoop/ozone/om/helpers/TestOzoneAclUtil.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOzoneManagerHAWithAllRunning.java
  hadoop-ozone/interface-storage/src/main/java/org/apache/hadoop/ozone/om/helpers/OmPrefixInfo.java
  hadoop-ozone/interface-storage/src/main/java/org/apache/hadoop/ozone/om/helpers/OzoneAclStorage.java
  hadoop-ozone/interface-storage/src/test/java/org/apache/hadoop/ozone/om/helpers/TestOmPrefixInfo.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/PrefixManagerImpl.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/bucket/OMBucketCreateRequest.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/key/OMKeyRequest.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/request/file/TestOMFileCreateRequest.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/request/key/TestOMKeyCreateRequest.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/request/s3/multipart/TestS3InitiateMultipartUploadRequest.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/request/s3/multipart/TestS3InitiateMultipartUploadRequestWithFSO.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/common/CommonUtils.java
Labels: code-cleanup

#6348 HDDS-10492. [Doc] Update zh translation to Recon Architecture
  hadoop-hdds/docs/content/interface/ReconApi.zh.md
Labels: documentation, recon

#6325 HDDS-10440. Set new cluster ID and config instance in `MiniOzoneCluster#build()`
  hadoop-ozone/fault-injection-test/mini-chaos-tests/src/test/java/org/apache/hadoop/ozone/MiniOzoneChaosCluster.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestSafeMode.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/node/TestDecommissionAndMaintenance.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/upgrade/TestHDDSUpgrade.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/MiniOzoneCluster.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/MiniOzoneClusterImpl.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/MiniOzoneClusterProvider.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/MiniOzoneHAClusterImpl.java
Labels: test

#6359 HDDS-10496. Fetch dependencies using actual build
  .github/workflows/populate-cache.yml
  hadoop-ozone/ozonefs-hadoop2/pom.xml
  hadoop-ozone/ozonefs-hadoop3-client/pom.xml
  hadoop-ozone/ozonefs-hadoop3/pom.xml
  hadoop-ozone/ozonefs-shaded/pom.xml
  hadoop-ozone/pom.xml
  pom.xml
Labels: CI

#6372 HDDS-10511. Support ByteBufferPositionedReadable in OzoneFSInputStream.
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestOzoneFSInputStream.java
  hadoop-ozone/ozonefs-common/src/main/java/org/apache/hadoop/fs/ByteBufferPositionedReadable.java
  hadoop-ozone/ozonefs-common/src/main/java/org/apache/hadoop/fs/ozone/CapableOzoneFSInputStream.java
  hadoop-ozone/ozonefs-common/src/main/java/org/apache/hadoop/fs/ozone/OzoneFSInputStream.java
Labels: hbase

#6384 HDDS-10120. BindException in integration tests with Java 17
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/TestStorageContainerManager.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/TestSecureOzoneCluster.java
Labels: test

#6070 HDDS-10182. Add P99 quantiles and Min/Max Metrics for Xceiver Client Performance Metrics
  hadoop-hdds/client/src/main/java/org/apache/hadoop/hdds/scm/XceiverClientMetrics.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/ozone/OzoneConfigKeys.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/util/PerformanceMetricsInitializer.java
  hadoop-hdds/common/src/main/resources/ozone-default.xml
Labels: performance, metrics

#6406 HDDS-10552. Downgrade Surefire to 3.0.0-M4
  hadoop-hdds/common/pom.xml
  hadoop-hdds/hadoop-dependency-test/pom.xml
  hadoop-ozone/fault-injection-test/mini-chaos-tests/pom.xml
  hadoop-ozone/integration-test/pom.xml
  pom.xml
Labels: dependencies, CI

#5521 HDDS-9085. Recon Directories Pending for Deletion Inside OMDB Insight
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/db.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/routes.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/insights/om/om.tsx
Labels: recon, UI

#6407 HDDS-10554. Bump Zookeeper to 3.8.4
  pom.xml
Labels: dependencies

#6409 HDDS-10311. Speed up TestOmMetrics
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/TestOmMetrics.java
Labels: test

#6394 HDDS-10544. Move LMAX Disruptor to runtime scope
  hadoop-hdds/framework/pom.xml
Labels: dependencies

#6412 HDDS-10551. Improve HTTPFS Documentation for Iterative Liststatus Functionality
  hadoop-hdds/docs/content/interface/HttpFS.md
Labels: documentation

#6427 HDDS-10579. Remove org.ow2.asm dependency
  pom.xml
Labels: dependencies

#6308 HDDS-10448. Orientation fixes for Ozone - List Keys Metrics Dashboard
  hadoop-ozone/dist/src/main/compose/common/grafana/dashboards/Ozone - ListKey Metrics.json
Labels: metrics

#6428 HDDS-8247. Run acceptance tests with JDK 17
  hadoop-ozone/dist/pom.xml
  hadoop-ozone/dist/src/main/compose/ozone-om-ha/.ssh/environment
  hadoop-ozone/dist/src/main/compose/ozone-om-ha/Dockerfile
  hadoop-ozone/dist/src/main/compose/ozonescripts/.ssh/environment
  hadoop-ozone/dist/src/main/compose/ozonescripts/Dockerfile
  hadoop-ozone/dist/src/main/compose/ozonesecure-ha/docker-config
  hadoop-ozone/dist/src/main/compose/ozonesecure-mr/docker-config
  hadoop-ozone/dist/src/main/compose/ozonesecure/docker-config
Labels: CI

#6431 HDDS-10584. Exclude proto3 classes from coverage
  hadoop-ozone/dev-support/checks/coverage.sh
Labels: CI

#6440 HDDS-10588. Bump hadoop-shaded-guava to 1.2.0
  hadoop-hdds/hadoop-dependency-client/pom.xml
  hadoop-hdds/hadoop-dependency-server/pom.xml
  pom.xml
Labels: dependencies

#6297 HDDS-10442. [hsync] Add a Freon tool to measure client to DataNode round-trip latency
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/HddsUtils.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/scm/protocolPB/ContainerCommandResponseBuilders.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/scm/storage/ContainerProtocolCalls.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/audit/DNAction.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/impl/HddsDispatcher.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/keyvalue/KeyValueHandler.java
  hadoop-hdds/interface-client/src/main/proto/DatanodeClientProtocol.proto
  hadoop-hdds/tools/src/main/java/org/apache/hadoop/hdds/scm/cli/ContainerOperationClient.java
  hadoop-ozone/dist/src/main/smoketest/freon/echoRPCLoad.robot
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/hdds/scm/TestContainerSmallFile.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/freon/TestDNRPCLoadGenerator.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/freon/DNRPCLoadGenerator.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/freon/Freon.java
  hadoop-ozone/tools/src/main/java/org/apache/hadoop/ozone/freon/OmRPCLoadGenerator.java
Labels: hbase

#6426 HDDS-10574. Improve TestObjectPut
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/client/ClientProtocolStub.java
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/client/OzoneBucketStub.java
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/client/OzoneVolumeStub.java
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/s3/endpoint/TestObjectPut.java
Labels: test

#6443 HDDS-10524. [Snapshot] Invalidate the cache entry from snapshotInfoTable cache in OMSnapshotPurgeRequest
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/helpers/SnapshotInfo.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/snapshot/OMSnapshotPurgeRequest.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/response/snapshot/OMSnapshotPurgeResponse.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/request/snapshot/TestOMSnapshotPurgeRequestAndResponse.java
Labels: snapshot

#6199 HDDS-9242. Merge unit and integration checks into a combined one
  .github/workflows/ci.yml
  dev-support/ci/selective_ci_checks.bats
  dev-support/ci/selective_ci_checks.sh
  hadoop-ozone/dev-support/checks/_mvn_unit_report.sh
  hadoop-ozone/dev-support/checks/integration.sh
  hadoop-ozone/dev-support/checks/junit.sh
  hadoop-ozone/dev-support/checks/unit.sh
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestOmSnapshotDisabled.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestOmSnapshotDisabledRestart.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestOmSnapshotFileSystem.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestOmSnapshotFileSystemFso.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestOmSnapshotFileSystemLegacy.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestOzoneManagerHASnapshot.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestSnapshotBackgroundServices.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestSnapshotDeletingService.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestSnapshotDirectoryCleaningService.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestSnapshotChain.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestSnapshotInfo.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestSstFilteringService.java
  pom.xml
Labels: CI

#6452 HDDS-10570. S3A: `fs -touch` creates directory instead of empty file in FSO bucket
  hadoop-ozone/dist/src/main/compose/ozone-ha/test.sh
  hadoop-ozone/dist/src/main/smoketest/s3/commonawslib.robot
  hadoop-ozone/dist/src/main/smoketest/s3/objecthead.robot
  hadoop-ozone/dist/src/main/smoketest/s3/objectputget.robot
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/endpoint/ObjectEndpoint.java
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/s3/endpoint/TestObjectPut.java
Labels: s3
