Repository apache/ozone, pull requests merged in 2024-10, with the labels that each got.

#7214 HDDS-11162. Improve Disk Usage page UI
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/db.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/components/duBreadcrumbNav/duBreadcrumbNav.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/components/duMetadata/duMetadata.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/components/duPieChart/duPieChart.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/components/eChart/eChart.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/pages/diskUsage/diskUsage.less
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/pages/diskUsage/diskUsage.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/routes-v2.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/types/diskUsage.types.ts
Labels: recon, UI

#7260 HDDS-11518. Recon OmDB Insights show isKey=true for directories
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/OMDBInsightEndpoint.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/OMDBInsightSearchEndpoint.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/types/KeyEntityInfo.java
Labels: recon

#7263 HDDS-11046. Coverage decreased due to running tests with Java 17
  .github/workflows/ci.yml
Labels: CI

#7270 HDDS-11527. Avoid unnecessary duplicate build
  .github/workflows/ci.yml
Labels: CI

#7279 HDDS-11536. Bump macOS runner version to macos-13
  .github/workflows/ci.yml
Labels: CI

#7269 HDDS-11520. Fix Delete pending directories key mapping
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/insights/om/om.tsx
Labels: bug, recon, UI

#7288 HDDS-11547. Make MAVEN_OPTS optional
  hadoop-ozone/dev-support/checks/build.sh
  hadoop-ozone/dev-support/checks/junit.sh
Labels: CI

#7111 HDDS-10377. Allow datanodes to do chunk level modifications to closed containers.
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/helpers/ContainerMetrics.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/keyvalue/KeyValueHandler.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/keyvalue/impl/TestFilePerBlockStrategy.java
Labels: container-reconciliation

#7294 HDDS-11551. Provide details about integration check failure
  .github/workflows/ci.yml
  hadoop-ozone/dev-support/checks/_mvn_unit_report.sh
Labels: CI

#7230 HDDS-11482. EC Checksum throws IllegalArgumentException because the buffer limit is negative
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/checksum/ECBlockChecksumComputer.java
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/checksum/ECFileChecksumHelper.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestOzoneFileChecksum.java
Labels: EC

#7281 HDDS-10390. MiniOzoneCluster to support S3G
  hadoop-ozone/integration-test/pom.xml
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/MiniOzoneCluster.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/MiniOzoneClusterImpl.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/s3/awssdk/v1/AbstractS3SDKV1Tests.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/s3/awssdk/v1/TestS3SDKV1.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/s3/awssdk/v1/TestS3SDKV1WithRatis.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/utils/InputSubstream.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ConfigurationProvider.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/Gateway.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/OzoneConfigurationHolder.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/S3GatewayHttpServer.java
Labels: test, s3

#7308 HDDS-11574. Ozone client leak in TestS3SDKV1
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/HddsUtils.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/s3/awssdk/v1/AbstractS3SDKV1Tests.java
  hadoop-ozone/integration-test/src/test/resources/log4j.properties
Labels: test

#7209 HDDS-11456. Require successful dependency/licence checks for acceptance/compile/kubernetes
  .github/workflows/ci.yml
  dev-support/ci/selective_ci_checks.bats
  dev-support/ci/selective_ci_checks.sh
Labels: CI

#7280 HDDS-11538. Let coverage report link to java sources
  hadoop-ozone/dev-support/checks/coverage.sh
Labels: CI

#7287 HDDS-11545. [UI] Add OM and SCM ID information
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/app.less
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/pages/buckets/buckets.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/pages/datanodes/datanodes.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/pages/diskUsage/diskUsage.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/pages/overview/overview.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/pages/pipelines/pipelines.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/v2/pages/volumes/volumes.tsx
Labels: recon, UI

#7318 HDDS-11108. Extract keywords for multipart upload tests
  hadoop-ozone/dist/src/main/smoketest/s3/MultipartUpload.robot
  hadoop-ozone/dist/src/main/smoketest/s3/bucketdelete.robot
  hadoop-ozone/dist/src/main/smoketest/s3/commonawslib.robot
  hadoop-ozone/dist/src/main/smoketest/s3/mpu_lib.robot
Labels: test

#7233 HDDS-11483. Make s3g object get and put operation buffer configurable
  hadoop-hdds/common/src/main/resources/ozone-default.xml
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/S3GatewayConfigKeys.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/endpoint/ObjectEndpoint.java
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/s3/endpoint/TestObjectPut.java
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/s3/endpoint/TestPartUpload.java
Labels: performance

#6969 HDDS-11205. Implement a search feature for users to locate keys pending Deletion within the OM Deleted Keys Insights section
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconConstants.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconResponseUtils.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconUtils.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/OMDBInsightEndpoint.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/OMDBInsightSearchEndpoint.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/api/TestDeletedKeysSearchEndpoint.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/api/TestOMDBInsightSearchEndpoint.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/api/TestOmDBInsightEndPoint.java
Labels: recon

#7342 HDDS-11600. Intermittent failure in repro due to ordering differences in builddef.lst
  hadoop-ozone/ozone-manager/pom.xml
  pom.xml
Labels: CI

#7354 HDDS-11608. Client should not retry invalid protobuf request
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/HddsUtils.java
Labels: client

#7268 HDDS-11041. Add admin request filter for S3 requests and UGI support for GrpcOmTransport
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/server/OzoneAdmins.java
  hadoop-hdds/framework/src/test/java/org/apache/hadoop/hdds/server/TestOzoneAdmins.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/ha/GrpcOMFailoverProxyProvider.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/ha/HadoopRpcOMFailoverProxyProvider.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/ha/OMFailoverProxyProviderBase.java
  hadoop-ozone/common/src/main/java/org/apache/hadoop/ozone/om/protocolPB/GrpcOmTransport.java
  hadoop-ozone/dist/src/main/compose/ozonesecure/docker-compose.yaml
  hadoop-ozone/dist/src/main/compose/ozonesecure/test-fcq.sh
  hadoop-ozone/dist/src/main/smoketest/s3/secretgenerate.robot
  hadoop-ozone/dist/src/main/smoketest/s3/secretrevoke.robot
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OzoneConfigUtil.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OzoneManager.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/TestOzoneConfigUtil.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3secret/S3AdminEndpoint.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3secret/S3SecretAdminFilter.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3secret/S3SecretManagementEndpoint.java
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/s3secret/TestSecretGenerate.java
  hadoop-ozone/s3gateway/src/test/java/org/apache/hadoop/ozone/s3secret/TestSecretRevoke.java
Labels: s3

#7350 HDDS-11134. Create compatibility test for FSO bucket usage
  hadoop-ozone/dist/src/main/compose/xcompat/test.sh
  hadoop-ozone/dist/src/main/smoketest/compatibility/read.robot
  hadoop-ozone/dist/src/main/smoketest/compatibility/setup.robot
  hadoop-ozone/dist/src/main/smoketest/compatibility/write.robot
Labels: test

#7213 HDDS-11465. Introducing Schema Versioning for Recon to Handle Fresh Installs and Upgrades.
  hadoop-ozone/recon-codegen/src/main/java/org/hadoop/ozone/recon/codegen/ReconSchemaGenerationModule.java
  hadoop-ozone/recon-codegen/src/main/java/org/hadoop/ozone/recon/schema/SchemaVersionTableDefinition.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconContext.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconSchemaVersionTableManager.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconServer.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/upgrade/ReconLayoutFeature.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/upgrade/ReconLayoutVersionManager.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/upgrade/ReconUpgradeAction.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/upgrade/UpgradeActionRecon.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/upgrade/package-info.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/persistence/TestSchemaVersionTableDefinition.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/upgrade/TestReconLayoutVersionManager.java
Labels: upgrade, recon

#7325 HDDS-11591. Copy dependencies when building each module
  hadoop-hdds/pom.xml
  hadoop-hdds/rocks-native/pom.xml
  hadoop-hdds/server-scm/pom.xml
  hadoop-ozone/csi/pom.xml
  hadoop-ozone/datanode/pom.xml
  hadoop-ozone/dev-support/checks/dependency.sh
  hadoop-ozone/dist/dev-support/bin/dist-layout-stitching
  hadoop-ozone/dist/pom.xml
  hadoop-ozone/httpfsgateway/pom.xml
  hadoop-ozone/insight/pom.xml
  hadoop-ozone/ozone-manager/pom.xml
  hadoop-ozone/pom.xml
  hadoop-ozone/recon/pom.xml
  hadoop-ozone/s3gateway/pom.xml
  hadoop-ozone/tools/pom.xml
  pom.xml
Labels: build

#7324 HDDS-11588. Add main artifact jar to classpath file
  hadoop-ozone/dist/dev-support/bin/dist-layout-stitching
  hadoop-ozone/dist/src/shell/ozone/ozone-functions.sh
Labels: build

#7313 HDDS-11584. Document ozone debug ldb command
  hadoop-hdds/docs/content/tools/Debug.md
  hadoop-hdds/docs/content/tools/Debug.zh.md
Labels: documentation

#7373 HDDS-11619. Remove dependency on hadoop-shaded-guava
  hadoop-hdds/hadoop-dependency-client/pom.xml
  hadoop-hdds/hadoop-dependency-server/pom.xml
  pom.xml
Labels: build
