Repository apache/ozone, pull requests merged in 2024-07, with the labels that each got.

#6838 HDDS-11042. CI with Ratis ignores Ozone ref
  .github/workflows/ci-with-ratis.yml
  .github/workflows/ci.yml
Labels: CI

#6892 HDDS-11090. Add explicit dependency for jcip-annotations
  hadoop-hdds/common/pom.xml
  hadoop-ozone/client/pom.xml
  hadoop-ozone/common/pom.xml
  pom.xml
Labels: build

#6893 HDDS-11092. Disable ozonescripts test
  hadoop-ozone/dist/src/main/compose/ozonescripts/disabled-test.sh
Labels: CI

#6895 HDDS-11095. Generate fixed length string with Robot builtin
  hadoop-ozone/dist/src/main/smoketest/s3/MultipartUpload.robot
  hadoop-ozone/dist/src/main/smoketest/s3/objectcopy.robot
  hadoop-ozone/dist/src/main/smoketest/s3/objectputget.robot
Labels: test

#6876 HDDS-11078. Remove usage of sun.misc.Signal
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/StringUtils.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/HddsDatanodeService.java
  hadoop-hdds/framework/pom.xml
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/HddsServerUtil.java
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/SignalLogger.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/StorageContainerManagerStarter.java
  hadoop-ozone/csi/pom.xml
  hadoop-ozone/csi/src/main/java/org/apache/hadoop/ozone/csi/CsiServer.java
  hadoop-ozone/dist/src/main/license/bin/LICENSE.txt
  hadoop-ozone/dist/src/main/license/jar-report.txt
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OzoneManagerStarter.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconServer.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/Gateway.java
  pom.xml
Labels: dependencies

#6897 HDDS-11076. NoSuchMethodError: ByteBuffer.position compiling with Java 9+, running with Java 8
  pom.xml
Labels: build

#5745 HDDS-9874. Introduce Metrics for listKeys Dashboard
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OMPerformanceMetrics.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmMetadataManagerImpl.java
Labels: performance, metrics

#6865 HDDS-9977. Dashboard for create key metrics
  hadoop-ozone/dist/src/main/compose/common/grafana/dashboards/Ozone - CreateKey Metrics.json
Labels: metrics

#6782 HDDS-10941. Add a few interesting ContainerStateMachine metrics in CSMMetrics
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/transport/server/ratis/CSMMetrics.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/transport/server/ratis/ContainerStateMachine.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/common/transport/server/ratis/DispatcherContext.java
Labels: metrics

#6907 HDDS-11113. Remove unused ScmUtils#preCheck and related code
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/ScmUtils.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/safemode/Precheck.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/safemode/SafeModePrecheck.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/safemode/SafeModeRestrictedOps.java
Labels: code-cleanup

#6868 HDDS-10112. Dashboard for read key metrics
  hadoop-ozone/dist/src/main/compose/common/grafana/dashboards/Ozone - ReadKey Metrics.json
Labels: metrics

#6862 HDDS-11045. Recon Decommissioning Info API throws NPE.
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/client/DecommissionUtils.java
Labels: recon

#6841 HDDS-11017. Migrated to ECharts, Vite and AntD v4 with eslint, prettier
  hadoop-ozone/recon/pom.xml
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/.eslintignore
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/.eslintrc.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/.prettierrc.js
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/db.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/config-overrides.js
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/index.html
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/package.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/pnpm-lock.yaml
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/public/index.html
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/app.less
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/app.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/aclDrawer/aclDrawer.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/autoReloadPanel/autoReloadPanel.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/breadcrumbs/breadcrumbs.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/eChart/eChart.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/multiSelect/multiSelect.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/navBar/navBar.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/overviewCard/overviewCard.less
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/overviewCard/overviewCard.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/quotaBar/quotaBar.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/rightDrawer/rightDrawer.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/storageBar/storageBar.less
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/storageBar/storageBar.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/constants/breadcrumbs.constants.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/routes.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/utils/autoReloadHelper.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/utils/axiosRequestHelper.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/utils/columnSearch.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/utils/common.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/utils/themeIcons.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/buckets/buckets.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/datanodes/datanodes.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/diskUsage/diskUsage.less
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/diskUsage/diskUsage.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/heatMap/constants/heatmapConstants.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/heatMap/heatMapConfiguration.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/heatMap/heatmap.less
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/heatMap/heatmap.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/insights/insights.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/insights/om/om.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/missingContainers/missingContainers.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/overview/overview.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/pipelines/pipelines.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/volumes/volumes.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/tsconfig.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/vite-env.d.ts
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/vite.config.ts
Labels: build, dependencies, recon, UI

#6910 HDDS-11112. Verify javadoc creation in CI
  .github/workflows/ci.yml
  .github/workflows/intermittent-test-check.yml
  .github/workflows/repeat-acceptance.yml
  hadoop-ozone/dev-support/checks/build.sh
Labels: CI

#6931 HDDS-11110. Allow running test-all.sh from any directory
  hadoop-ozone/dist/src/main/compose/test-all.sh
Labels: test

#6321 HDDS-10386. Introduce Metrics for deletekey operation in OM Service.
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OMPerformanceMetrics.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/key/OMKeyDeleteRequest.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/request/key/OMKeysDeleteRequest.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/request/key/TestOMKeyRequest.java
Labels: metrics

#6896 HDDS-11096. Error creating s3 auth info for request with Authorization: Negotiate
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/RootPageDisplayFilter.java
Labels: s3

#6860 HDDS-10604. Whitelist based compliance check for crypto related configuration options
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/conf/DelegatingProperties.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/conf/OzoneConfiguration.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/utils/LegacyHadoopConfigurationSource.java
  hadoop-hdds/common/src/test/java/org/apache/hadoop/hdds/conf/TestOzoneConfiguration.java
Labels: crypto-compliance

#6900 HDDS-11100. OM/SCM Metrics support displaying Netty off-heap memory.
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/StorageContainerManager.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/ratis/OzoneManagerStateMachine.java
Labels: scm, om, metrics

#6796 HDDS-10998. Declare annotation processors explicitly
  hadoop-hdds/annotations/pom.xml
  hadoop-hdds/client/pom.xml
  hadoop-hdds/common/pom.xml
  hadoop-hdds/common/src/main/resources/META-INF/services/javax.annotation.processing.Processor
  hadoop-hdds/config/pom.xml
  hadoop-hdds/config/src/test/resources/META-INF/services/javax.annotation.processing.Processor
  hadoop-hdds/container-service/pom.xml
  hadoop-hdds/docs/pom.xml
  hadoop-hdds/erasurecode/pom.xml
  hadoop-hdds/framework/pom.xml
  hadoop-hdds/hadoop-dependency-client/pom.xml
  hadoop-hdds/hadoop-dependency-server/pom.xml
  hadoop-hdds/hadoop-dependency-test/pom.xml
  hadoop-hdds/interface-admin/pom.xml
  hadoop-hdds/interface-client/pom.xml
  hadoop-hdds/interface-server/pom.xml
  hadoop-hdds/managed-rocksdb/pom.xml
  hadoop-hdds/rocks-native/pom.xml
  hadoop-hdds/rocksdb-checkpoint-differ/pom.xml
  hadoop-hdds/server-scm/pom.xml
  hadoop-hdds/test-utils/pom.xml
  hadoop-hdds/tools/pom.xml
  hadoop-ozone/client/pom.xml
  hadoop-ozone/common/pom.xml
  hadoop-ozone/csi/pom.xml
  hadoop-ozone/datanode/pom.xml
  hadoop-ozone/dist/pom.xml
  hadoop-ozone/fault-injection-test/mini-chaos-tests/pom.xml
  hadoop-ozone/fault-injection-test/network-tests/pom.xml
  hadoop-ozone/httpfsgateway/pom.xml
  hadoop-ozone/insight/pom.xml
  hadoop-ozone/integration-test/pom.xml
  hadoop-ozone/interface-client/pom.xml
  hadoop-ozone/interface-storage/pom.xml
  hadoop-ozone/ozone-manager/pom.xml
  hadoop-ozone/ozonefs-common/pom.xml
  hadoop-ozone/ozonefs-hadoop2/pom.xml
  hadoop-ozone/ozonefs-hadoop3-client/pom.xml
  hadoop-ozone/ozonefs-hadoop3/pom.xml
  hadoop-ozone/ozonefs-shaded/pom.xml
  hadoop-ozone/ozonefs/pom.xml
  hadoop-ozone/recon-codegen/pom.xml
  hadoop-ozone/recon/pom.xml
  hadoop-ozone/s3-secret-store/pom.xml
  hadoop-ozone/s3gateway/pom.xml
  hadoop-ozone/tools/pom.xml
  pom.xml
Labels: build

#6921 HDDS-11124. Removed DELETED_TABLE and DELETED_DIR_TABLE locks
  hadoop-ozone/interface-storage/src/main/java/org/apache/hadoop/ozone/om/OMMetadataManager.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmMetadataManagerImpl.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmSnapshotManager.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/service/DirectoryDeletingService.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/service/KeyDeletingService.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/recovery/ReconOmMetadataManagerImpl.java
Labels: snapshot

#6952 HDDS-11186. First container log missing from bundle
  hadoop-ozone/dist/src/main/compose/testlib.sh
Labels: test

#6956 HDDS-11192. Increase SPNEGO URL test coverage
  hadoop-ozone/dist/src/main/smoketest/spnego/web.robot
Labels: test

#6231 HDDS-10389. Implement a search feature for users to locate open keys within the Open Keys Insights section.
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconConstants.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconUtils.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/OMDBInsightEndpoint.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/api/OMDBInsightSearchEndpoint.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/api/TestOMDBInsightSearchEndpoint.java
Labels: recon

#6944 HDDS-11150. Recon Overview page crashes due to failed API Calls
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/components/overviewCard/overviewCard.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/utils/axiosRequestHelper.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/diskUsage/diskUsage.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/insights/insights.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/overview/overview.tsx
Labels: recon, UI

#6950 HDDS-11187. Fix Event Handling in Recon OMDBUpdatesHandler to Prevent ClassCastException
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/tasks/OMDBUpdatesHandler.java
  hadoop-ozone/recon/src/test/java/org/apache/hadoop/ozone/recon/tasks/TestOMDBUpdatesHandler.java
Labels: recon

#6953 HDDS-11188. Initial setup for new UI layout and enable users to switch to new UI
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/app.tsx
Labels: recon, UI

#6968 HDDS-11193. KeyOutputStream flakiness when running write and hsync concurrently
  hadoop-hdds/client/src/main/java/org/apache/hadoop/hdds/scm/storage/AbstractCommitWatcher.java
  hadoop-hdds/client/src/main/java/org/apache/hadoop/hdds/scm/storage/BlockOutputStream.java
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/io/BlockOutputStreamEntryPool.java
  hadoop-ozone/client/src/main/java/org/apache/hadoop/ozone/client/io/KeyOutputStream.java
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/fs/ozone/TestHSync.java
Labels: hbase

#6864 HDDS-10373. Implement framework for capturing Merkle Tree Metrics.
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/checksum/ContainerChecksumTreeManager.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/container/checksum/ContainerMerkleTreeMetrics.java
  hadoop-hdds/container-service/src/test/java/org/apache/hadoop/ozone/container/checksum/TestContainerChecksumTreeManager.java
Labels: container-reconciliation

#6894 HDDS-11023. Recon Disk Usage null conditions not handled properly for null response
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/api/routes.json
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/utils/common.tsx
  hadoop-ozone/recon/src/main/resources/webapps/recon/ozone-recon-web/src/views/diskUsage/diskUsage.tsx
Labels: recon, UI

#7004 HDDS-11076. Revert HDDS-11076 and HDDS-11078
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/StringUtils.java
  hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/utils/SignalLogger.java
  hadoop-hdds/container-service/src/main/java/org/apache/hadoop/ozone/HddsDatanodeService.java
  hadoop-hdds/framework/pom.xml
  hadoop-hdds/framework/src/main/java/org/apache/hadoop/hdds/utils/HddsServerUtil.java
  hadoop-hdds/server-scm/src/main/java/org/apache/hadoop/hdds/scm/server/StorageContainerManagerStarter.java
  hadoop-ozone/csi/pom.xml
  hadoop-ozone/csi/src/main/java/org/apache/hadoop/ozone/csi/CsiServer.java
  hadoop-ozone/dist/src/main/license/bin/LICENSE.txt
  hadoop-ozone/dist/src/main/license/jar-report.txt
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OzoneManagerStarter.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/ReconServer.java
  hadoop-ozone/s3gateway/src/main/java/org/apache/hadoop/ozone/s3/Gateway.java
  pom.xml
Labels: revert

#6987 HDDS-11231. Make Recon start more resilient
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/recon/TestReconInsightsForDeletedDirectories.java
  hadoop-ozone/recon/src/main/java/org/apache/hadoop/ozone/recon/spi/impl/OzoneManagerServiceProviderImpl.java
Labels: recon

#6965 HDDS-11068. Move SstFiltered flag to a file in the snapshot directory
  hadoop-ozone/integration-test/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestSnapshotBackgroundServices.java
  hadoop-ozone/interface-storage/src/main/java/org/apache/hadoop/ozone/om/OMMetadataManager.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/OmSnapshotManager.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/SstFilteringService.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/response/snapshot/OMSnapshotPurgeResponse.java
  hadoop-ozone/ozone-manager/src/main/java/org/apache/hadoop/ozone/om/service/SnapshotDeletingService.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/service/TestSnapshotDeletingService.java
  hadoop-ozone/ozone-manager/src/test/java/org/apache/hadoop/ozone/om/snapshot/TestSstFilteringService.java
Labels: snapshot
